/*************************************************
 *************************************************
 *****                                       *****
 *****                 index                 *****
 *****  0 - General settings                 *****
 *****      0.1 - body header footer         *****
 *****      0.2 - customer button setting    *****
 *****      0.3 - customer range input       *****
 *****      0.4 - customer text input        *****
 *****      0.5 - a                          *****
 *****      0.6 - final font                 *****
 *****      0.7 - tooltip                    *****
 *****      0.8 - text-info                  *****
 *****      0.9 - form control               *****
 *****      0.11- data picker setting        *****
 *****  1 - Login Page                       *****
 *****  2 - Shell Page                       *****
 *****      2.1 - Navigation bar             *****
 *****      2.2 - Side bar and views         *****
 *****          2.2.1 - Side bar             *****
 *****          2.2.2 - Side bar show & hide *****
 *****          2.2.2 - Content show & hide  *****
 *****  3 - View Settings                    *****
 *****      3.1 - General settings           *****
 *****      3.2 - Table settings             *****
 *****  4 - Footer                           *****
 *****     4.1  - scenario list footer  ****
 *****                                       *****
 *****  f - Customer animate                 *****
 *****                                       *****
 *****                                       *****
 *************************************************
 *************************************************/

/*************************************************
 ******                                     ******
 ******           General settings          ******
 ******                                     ******
 *************************************************/
body {
    background-color: #fafafa;
    font-size: 13px;
    overflow-x: hidden;
}

/*footer {*/
    /*height: 100px;*/
    /*margin-top: 60px;*/
/*}*/

/*  Button settings  */
.btn-orange, .btn-orange:focus {
    margin-right: 15px;
    text-transform: uppercase;
    background-color: #F05323;
    color: #f8f8f8;
    border: #F05323 solid 1px;
    border-bottom: #F05323 solid 3px;
}

.btn-orange:hover {
    background-color: #f8f8f8;
    color: #F05323;
    -webkit-transition: background-color 0.5s, color 0.5s;
    -moz-transition: background-color 0.5s, color 0.5s;
    -o-transition: background-color 0.5s, color 0.5s;
    transition: background-color 0.5s, color 0.5s;
}

.btn-orange:active {
    border-bottom: #F05323 solid 1px;
    border-top: #F05323 solid 3px;
}
.btn-default{
    text-transform: capitalize;
    font-size:15px;
}
/*.dropdown-menu{*/
    /*/!*border: none;*!/*/
    /*padding: 0;*/
/*}*/
/*.dropdown-menu li{*/
    /*color:red;*/
/*}*/
/*  Input type='range'  */
/*  General  */
input[type=range] {
    -webkit-appearance: none;
    border: 1px solid white;
    width: 100%;
    height: 15px;
    padding: -10px;
}

input[type=range]:focus {
    outline: none;
}

/*  For Chrome, Safari, and Opera  */
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid #F05323;
    background: #fff;
    margin-top: -5px;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

/*  For FireFox  */
input[type=range]::-moz-range-thumb {
    border: 1px solid #F05323;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #fff;
}

input[type=range]:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px;
}

/* For IE  */
input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}

input[type=range]::-ms-thumb {
    border: 1px solid #F05323;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #fff;
}

/*  Input type='text'  */
/*  General  */
input[type=text]{
    padding:3px;
}
input[type=text]:enabled{

}
input[type=text]:disabled{
    background: #fff;
}

input[type=checkbox]{
    margin-left: 0px;
}
/*  a  */
/*  General  */
a, a:visited, a:focus, a:active, a:hover{
    outline:0 none !important;
}

/*  font awesome  */
/*  General  */

.fa-spin{
    color:#7aa4bc;
    font-size:19px;
}
.fa-minus, .fa-plus{
    font-size: 9px;
}
/*  final  */
/*  General  */
.final{
    color:#04723b;
    font-size:18px;
}
.stop{
    color:#f05323;
    font-size:18px;
    float: right;
    margin-right: 5px;
    cursor: hand;
}
a .running{
    text-decoration: none;
}
/*  tooltip  */
/*  General  */
.grey-tooltip + .tooltip > .tooltip-inner {background-color: #85abc1; color:#333333;}
.grey-tooltip + .tooltip > .tooltip-arrow { border-bottom-color:#85abc1; color:#333333;}
.fa-question-circle {
    font-size: 22px;
    color:grey;
}


.breadcrumb>li+li:before{
    content: "\203A";
    font-size: 16px;
}
form .tooltip-inner {
    /* If max-width does not work, try using width instead */
    width:180px;
    text-align: left;
    padding-left:17px;
}

.text-info {
    color: #3c3c3c;
}
.form-control{
    padding:0 3px 0 3px;
}
.pagination {
    margin:0;
}
.pagination-sm>li>a{
    font-size:15px;
    font-weight: bold;
}

.table{
    margin: 0;
}


/********************************************************
*********                                         *******
*********             data picker                 *******
*********                                           *****
********************************************************/
/*.my-datepicker .form-control {*/
    /*height: 10px;*/
    /*padding: 11px;*/
/*}*/

.ng-isolate-scope .btn {
    padding: 2px 2px;
}
.check .form-control{
    height:22px;
}


    /*************************************************
     ******                                     ******
     ******              Login Page             ******
     ******                                     ******
     *************************************************/
.login-title {
    height: 200px;
    margin-bottom: 100px;
    background: #e3e3e3;
    border-bottom: #fff solid 5px;
    position: relative;
}

.login-title h1 {
    position: absolute;
    left: 50px;
    bottom: 30px;
}

.login-form {
    width: 700px;
    margin: 0 auto;
}

.navbar-brand {
    font-size: 13px;
    padding: 20px;
}

/*************************************************
 ******                                     ******
 ******              Shell Page             ******
 ******                                     ******
 *************************************************/
/*  navigation bar  */
.navbar-dark {
    height: 90px;
    border-bottom: #fff solid 3px;
    background: #e3e3e3;
    padding: 5px 15px 20px 15px;
}

.navbar-dark a {
    position: absolute;
    left: 25px;
    bottom: 0;
}

.navbar-right li {
    float: none;
    text-align: right;
    padding-right: 30px;
}

.navbar-btn {
    margin: 10px -3px 10px 12px;
    padding: 6px 15px;
    width: 150px;
    text-transform: uppercase;
    color: #222;
}

/*  side bar and view  */
.shell {
    margin-top: 70px;
    padding-top: 30px;
}

/*  side bar  */
.sidebar {
    text-align: right;
    margin-top: -30px;
    padding-top: 30px;
    width: 190px;
    position: fixed;
    height: 100%;
    font-size: 16px;
    box-shadow: 2px 2px 10px grey;
    -webkit-transition: width .5s;
    -moz-transition: width .5s;
    -o-transition: width .5s;
    transition: width .5s;
    overflow: hidden;
}

.sidebar > a {
    width: 100%;
    padding-right: 20px;
}

.sidebar > a > i {
    color: #F05323;
    cursor: pointer;
    font-size: 25px;
    width: 25px;
    height: 25px;
    margin: 20px 0;
}

.sidebar li {
    background: #F05323;
    height: auto;
}

.sidebar li a, .sidebar li a:focus {
    color: #3c3c3c;
    width: 190px;
    border-left: none;
    text-align: left;
    padding-right: 20px;
    padding-left: 26px;
    padding-top: 19px;
    background: #fafafa;
    height: 60px;
    vertical-align: middle;
}

.sidebar li a:hover {
    background-color: #eee;
}

.sidebar li:hover a {
    color: #F05323;
    border-left: 6px solid #F05323;
    padding-left: 20px;
    -webkit-transition: border-left 0.3s, padding-left 0.3s;
    -moz-transition: border-left 0.3s, padding-left 0.3s;
    -o-transition: border-left 0.3s, padding-left 0.3s;
    transition: border-left 0.3s, padding-left 0.3s;
}

.sidebar li a img, .sidebar li a i {
    color: #F05323;
    cursor: pointer;
    font-size: 25px;
    width: 25px;
    height: 25px;
    float: right;
}

.views {
    padding-left: 200px;
}

/*  side bar hide and show  */
.slide-bar-hide.sidebar {
    -webkit-transform: translateX(-125px);
    -moz-transform: translateX(-125px);
    -ms-transform: translateX(-125px);
    -o-transform: translateX(-125px);
    transform: translateX(-125px);
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    -o-transition: -o-transform .3s;
    transition: transform .3s;
}

.slide-bar-hide i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    -o-transition: -o-transform .3s;
    transition: transform .3s;
}

.slide-bar-show.sidebar {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    -o-transition: -o-transform .3s;
    transition: transform .3s;
}

.slide-bar-show i {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    -o-transition: -o-transform .3s;
    transition: transform .3s;
}

/*  main content show and hide  */
.content-show {
    padding-left: 200px;
    -webkit-transition: padding-left .3s;
    -moz-transition: padding-left .3s;
    -o-transition: padding-left .3s;
    transition: padding-left .3s;
}

.content-hide {
    padding-left: 70px;
    -webkit-transition: padding-left .3s;
    -moz-transition: padding-left .3s;
    -o-transition: padding-left .3s;
    transition: padding-left .3s;
}



/*************************************************
 ******                                     ******
 ******            Views Settings           ******
 ******                                     ******
 *************************************************/
.path > li + li:before {
    color: #444;
}

.path {
    margin-bottom: 8px;
}

.path a {
    color: #3c3c3c;
}

.path a:hover {
    color: #F05323;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.well {
    padding: 7px 0 7px 10px;
    margin: 0;
}

.well label {
    padding-left: 10px;
}

.help-info {
    text-align: left;
    padding-top: 7px;
    vertical-align: middle;
}

.help-info .fa {
    font-size: 25px;
    padding-top: 0;
}

/*  Tables setting  */
.table-condensed>thead>tr>th{
    padding:2px;
}
.table>thead>tr>th{
    padding:2px;
}
.form-group-sm .form-control{
    height:18px;
    border:none;
}

.table-first-column {
    overflow-x: scroll;
    overflow-y: hidden;
    display: block;
    width : 120px;
    position: absolute;
    float: left;
}
.table-first-column .first-header {
    background-color: #fafafa;
    border:none;
}
.table-first-column .first-cell {
    border:none;
    background-color: #fafafa;
}
.table-first-column .second-cell {
    background-color: #fafafa;
}

.table-responsive {
    max-height: calc(88vh - 205px);
    position: relative;
    width:100%;
}
.table-responsive .sortorder:after {
    content: '\25b2';
    color:#333333;
}
.table-responsive .sortorder.reverse:after {
    content: '\25bc';
    color:#333333;
}
.table-responsive a{
    color:#333333;
}
.table-search{
    float:right;
}

.table-search input.search-query {
    padding-left:26px;
    width: 180px;
    margin:0 20px 10px 0;
}
.table-search form.form-search {
    position: relative;
    float: right;
}
.table-search form.form-search:before {
    display: block;
    width: 14px;
    height: 14px;
    content: "\e003";
    font-family: 'Glyphicons Halflings';
    background-position: -48px 0;
    position: absolute;
    top:8px;
    left:8px;
    opacity: .5;
    z-index: 1000;
}
.everyPageNumber{
    width: 60px;
    float: right;
    text-align: center;
    padding-right: 5px;
    margin-right: 5px;
}

.fixed-table{
    position: fixed;
    top:-2px;
}
/*.scenario-list-table{*/
    /*height: 420px;*/
/*}*/

table.roi-table {
    width: 100%;
    margin-right: 20px;
    text-align: right;
    position: static!important;
}

table.thead-fixed-top {
    overflow-x: scroll;
    display: block;
}

table.thead-fixed-top > thead {
    background-color: #fafafa;
    display: block;
}

table.thead-fixed-top > tbody {
    max-height: calc(88vh - 275px);
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
}
/*table.roi-table tr, table.roi-table th, table.roi-table td {*/
    /*min-height: 15px;*/

/*}*/

table.roi-table tr > th {
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;

}

table.roi-table tr:first-child > th:first-child {
    padding: 3px 0 3px 3px;
    text-align: center;
}

table.roi-table tr > .col-0-1 {
    width:80px;
    overflow: hidden;
}
table.roi-table tr > .col-0 {
    min-width: 40px;
    max-width: 70px;
    overflow: hidden;
}
table.roi-table tr > .col-0-7 {
    min-width: 40px;
    max-width: 60px;
    overflow: hidden;
}
table.roi-table tr > .col-1 {
    min-width: 120px;
    max-width: 160px;
    overflow: hidden;
}

table.roi-table tr > .col-2 {
    min-width: 160px;
    max-width: 320px;
    overflow: hidden;
}

table.roi-table tr > .col-3 {
    min-width: 300px;
    max-width: 480px;
    overflow: hidden;
}

table.roi-table tr > .col-4 {
    min-width: 400px;
    max-width: 640px;
    overflow: hidden;
}

table.roi-table tr > .col-5 {
    min-width: 500px;
    max-width: 800px;
    overflow: hidden;
}

table.roi-table tr > .col-6 {
    min-width: 600px;
    max-width: 960px;
    overflow: hidden;
}
table.roi-table tr > .list-col-0 {
    min-width: 40px;
    max-width: 60px;
    overflow: hidden;
}

table.roi-table tr > .list-col-1 {
    min-width: 80px;
    max-width: 80px;
    overflow: hidden;
}

table.roi-table tr > .list-col-2 {
    min-width: 120px;
    max-width: 160px;
    overflow: hidden;
    padding:5px;
}

table.roi-table tr > .list-col-3 {
    min-width: 240px;
    max-width: 300px;
    overflow: hidden;
    padding:0;
}

table.roi-table tr > .list-col-4 {
    min-width: 480px;
    max-width: 520px;
    overflow: hidden;
}

table.roi-table tr > .list-col-5 {
    min-width: 600px;
    max-width: 640px;
    overflow: hidden;
}

table.roi-table tr > .list-col-6 {
    min-width: 720px;
    max-width: 760px;
    overflow: hidden;
}

table.roi-table tr > td {
    vertical-align: middle;
    padding: 0px 5px 0px 0;
    text-overflow: ellipsis;
}

table.roi-table tr > td.td-title {
    padding: 5px 0 5px 5px;
    min-width: 120px;
    max-width:150px;
    position: relative;
    text-align: left;
}

table.roi-table tr > td.td-title button {
    margin-left: 5px;
}

table.roi-table tr > td.td-subtitle {
    text-align: left;
    padding-left: 15px;
}

table.roi-table tr > td.range-input {
    /*height: 40px;*/
    min-width: 100px;
    width: 160px;
    padding: 0;
}

table.roi-table tr > td.check {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

table.roi-table tr > td.disabled {
    padding-left: 15px;
    padding-right:15px;
    text-align: right;
    background-color: #e3e3e3;
}
table.roi-table tr > td.old ,table.roi-table tr > th.old {
    background-color: #eeeeee;
}

table.roi-table tr.active-row > td {
    background-color: #d6d4d4;
    color: #333333;
}

table.roi-table tr > td.non-number {
    padding-left: 20px;
    text-align: left;
}
table.roi-table tr > td.scenario-id {
    padding-left: 3px;
    text-align: left;
}
table.roi-table tr > td.yes-no {
    text-align: center;
}
table.roi-table tr > td input {
    text-align: right;
}

table.roi-table tr > td.compare-chart {
    vertical-align: top;
}

.td-title .btn {
    font-size: 10px;
}
.table-buttons {
    margin-top:15px;
}
div.controls {
    width: 80%;
    min-width: 690px;
    margin: 15px auto 0 auto;
    position: relative;
}

div.controls > span {
    width: 100px;
    margin-right: 15px;
}

div.controls > span:last-child {
    margin-right: 0;
}

/*  LookBack  */
.path-lookback {
    background: #FFFFC0;
}

/*  PlanForward  */
.path-palnforward {
    background: #FFC0C0;
}

.path-myscenarios {
    background: #CCEBFF;
    margin-bottom: 10px;
}


.fixed_headers {
    width: 750px;
    table-layout: fixed;
    border-collapse: collapse;
}
.fixed_headers th {
    text-decoration: underline;
}
.fixed_headers th,
.fixed_headers td {
    padding: 5px;
    text-align: left;
}
.fixed_headers td:nth-child(1),
.fixed_headers th:nth-child(1) {
    min-width: 200px;
}
.fixed_headers td:nth-child(2),
.fixed_headers th:nth-child(2) {
    min-width: 200px;
}
.fixed_headers td:nth-child(3),
.fixed_headers th:nth-child(3) {
    width: 350px;
}
.fixed_headers thead {
    background-color: #333333;
    color: #fdfdfd;
}
.fixed_headers thead tr {
    display: block;
    position: relative;
}
.fixed_headers tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: 300px;
}
.fixed_headers tbody tr:nth-child(even) {
    background-color: #dddddd;
}
.old_ie_wrapper {
    height: 300px;
    width: 750px;
    overflow-x: hidden;
    overflow-y: auto;
}
.old_ie_wrapper tbody {
    height: auto;
}


/*************************************************
 ******                                     ******
 ******         Customer animate            ******
 ******                                     ******
 *************************************************/




/*************************************************
 ******                                     ******
 ******           4.1  - scenario list footer            ******
 ******                                     ******
 *************************************************/


.button-bar{
    margin-top:15px;
}