<div class=" container-fluid">
    <div>
        <ol class="breadcrumb path">
            <li>Home</li>
        </ol>
    </div>
    <!-- Three columns of text below -->
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="thumbnail dashboard">
                <img src="img/look.png" alt="Look back image">
                <div class="caption">
                    <h3>LOOK BACK</h3>
                    <p>
                        Separate workflow for individual use Helpful Guides to get you started. Separate
                        workflow for individual use Helpful Guides to get you started.
                    </p>
                    <p><a href="#lookback/init" class="btn btn-orange"><i class="fa fa-caret-right"></i> Start</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="thumbnail">
                <img src="img/plan.png" alt="Look back image">
                <div class="caption">
                    <h3>PLAN FORWARD</h3>
                    <p>
                        Separate workflow for individual use Helpful Guides to get you started. Separate
                        workflow for individual use Helpful Guides to get you started.
                    </p>
                    <p><a href="#planforward/init" class="btn btn-orange"><i class="fa fa-caret-right"></i> Start</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="thumbnail">
                <img src="img/my.png" alt="Look back image">
                <div class="caption">
                    <h3>MY SCENARIOS</h3>
                    <p>
                        Separate workflow for individual use Helpful Guides to get you started. Separate
                        workflow for individual use Helpful Guides to get you started.
                    </p>
                    <p><a href="#myscenarios" class="btn btn-orange"><i class="fa fa-caret-right"></i> Start</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Three columns end -->

    <!-- START How it works? -->
    <div class="row">
        <div class="col-md-5">
            <div class="embed-responsive embed-responsive-16by9 video">
                <iframe width="480" height="360" src="https://www.youtube.com/embed/cqjTuU6Q4g8?rel=0&amp;showinfo=0"
                        frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-7">
            <h2>How it works? </h2>

            <p>Though the brand level spend allocation is decided in the beginning of the
                year, it is constantly tweaked and adjusted across different channels throughout the year. Having this
                agility requires quick measurement of ROI and the ability to simulate different scenarios. FocusKPI’s
                ROI platform, customized for you, gives you this agility. Its’ robust and flexible infrastructure allows
                you to seamlessly connect to various data sources. Built-in algorithms help you analyze past performance
                and better understand the ROI of various investments. Optimization model with a user friendly interface
                gives you a peek into the future by simulating for various investment scenarios within minutes Our ROI
                platform helps you continuously monitor and maximize your return across all investments by providing a
                strong decision support to not just strategic but tactical decisions as well.</p>

            <p>
        </div>
    </div>
</div> <!-- works end -->


