<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>


<a id="download" href="encodeURI(csvContent)">aaaa</a>


<script>

    var data = {
        "AlgDuration": "2.726825 mins",
        "AlgEndingTime": "2014-09-20 08:27:01",
        "AlgStartingTime": "2014-09-20 08:24:17",
        "Algorithm": "2",
        "Brand": "Shutterfly",
        "EndingTime": "2014-02",
        "PlanMonths": "1",
        "Spend": "500000",
        "SpendLB": "NULL",
        "SpendUB": "NULL",
        "StartingTime": "2014-02",
        "UserName": "",
        "_id": {"$oid": "559f0507095124fbd187169e"},
        "affAR": "592745",
        "affAS": "14000",
        "affLB": "14000",
        "affMax": "",
        "affMin": "",
        "affPR": "592745",
        "affSF": "1.0",
        "affSR": "14000",
        "affSlide": "14000",
        "affSlideDivMax": "248416",
        "affSlideDivMin": "14000",
        "affSlideLeft": "14000",
        "affSlideRight": "248416",
        "affUB": "248416",
        "dirSpendM1": "219825",
        "dirSpendM2": "",
        "dirSpendM3": "",
        "disAR": "1485911",
        "disAS": "115303",
        "disLB": "115303",
        "disMax": "",
        "disMin": "",
        "disPR": "1485911",
        "disSF": "1.0",
        "disSR": "115303",
        "disSlide": "115303",
        "disSlideDivMax": "968949",
        "disSlideDivMin": "115303",
        "disSlideLeft": "115303",
        "disSlideRight": "968949",
        "disUB": "968949",
        "lmTouch": "Last Touch",
        "parAR": "739325",
        "parAS": "163604",
        "parLB": "163604",
        "parMax": "",
        "parMin": "",
        "parPR": "739325",
        "parSF": "1.0",
        "parSR": "163604",
        "parSlide": "163604",
        "parSlideDivMax": "2026864",
        "parSlideDivMin": "163604",
        "parSlideLeft": "163604",
        "parSlideRight": "2026864",
        "parUB": "2026864",
        "run1ProjROI": "1061%",
        "run1ROIRange": "991%/1130%",
        "run1RevRange": "+/- 6%",
        "run2ProjROI": "1061%",
        "semAR": "2956148",
        "semAS": "204047",
        "semBAS": "65965",
        "semBLB": "37548",
        "semBMax": "",
        "semBMin": "",
        "semBSF": "1.0",
        "semBSR": "65965",
        "semBSlide": "65965",
        "semBSlideDivMax": "612671",
        "semBSlideDivMin": "37548",
        "semBSlideLeft": "37548",
        "semBSlideRight": "612671",
        "semBUB": "612671",
        "semCAS": "73735",
        "semCLB": "73735",
        "semCMax": "",
        "semCMin": "",
        "semCSF": "1.0",
        "semCSR": "73735",
        "semCSlide": "73735",
        "semCSlideDivMax": "1418577",
        "semCSlideDivMin": "73735",
        "semCSlideLeft": "73735",
        "semCSlideRight": "1418577",
        "semCUB": "1418577",
        "semOAS": "24015",
        "semOLB": "24015",
        "semOMax": "",
        "semOMin": "",
        "semOSF": "1.0",
        "semOSR": "24015",
        "semOSlide": "24015",
        "semOSlideDivMax": "458028",
        "semOSlideDivMin": "24015",
        "semOSlideLeft": "24015",
        "semOSlideRight": "458028",
        "semOUB": "458028",
        "semPAS": "40332",
        "semPLB": "40332",
        "semPMax": "",
        "semPMin": "",
        "semPR": "2956148",
        "semPSF": "1.0",
        "semPSR": "40332",
        "semPSlide": "40332",
        "semPSlideDivMax": "479750",
        "semPSlideDivMin": "40332",
        "semPSlideLeft": "40332",
        "semPSlideRight": "479750",
        "semPUB": "479750",
        "semSR": "204047",
        "socAR": "28488",
        "socAS": "3046",
        "socLB": "2937",
        "socMax": "",
        "socMin": "",
        "socPR": "28488",
        "socSF": "1.0",
        "socSR": "3046",
        "socSlide": "3046",
        "socSlideDivMax": "130463",
        "socSlideDivMin": "2937",
        "socSlideLeft": "2937",
        "socSlideRight": "130463",
        "socUB": "130463",
        "totAR": "5802617",
        "totAS": "500000",
        "totPR": "5802617",
        "totSR": "500000",
        "tvBeginDate": "2014-02-01",
        "tvEndDate": "2014-02-28",
        "tvImpressions": "345678",
        "tvSpend": "2345678"
    };


    function getCsv(jsonData) {
        var output = "";
        var key;
        for (key in jsonData) {
            output += '"' + key + '",';
        }

        output = output.slice(0, -1) + '\n';
        for (key in jsonData) {
            output += '"' + jsonData[key] + '",';

        }
        output = output.slice(0, -1) + '\n';

        return output;
    }


    var csvContent = "data:text/csv;charset=utf-8," + getCsv(data);
var k=encodeURI(csvContent);
    console.log(k);
    if (document.getElementById("download")) {
        document.getElementById("download").setAttribute("href", k);
        document.getElementById("download").setAttribute("download", "my_data");
    }

</script>

</body>
</html>