<div class="container-fluid" ng-if="nav.current === 'ScenarioListing'">
    <!--nav bar-->
    <div class="row">
        <ol class="breadcrumb path path-myscenarios">
            <li><a href="#dashBoard">Home</a></li>
            <li>My Scenarios</li>
        </ol>
    </div>
    <!--end nav bar-->
    <!--table view-->
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered table-hover roi-table">
                <thead>
                <tr>
                    <th class="col-1">ID</th>
                    <th class="col-1">Create Date</th>
                    <th class="col-1">Begin Month</th>
                    <th class="col-1">End Month</th>
                    <th class="col-1">AM</th>
                    <th class="col-1">Planned Spend</th>
                    <th class="col-1">Revenue</th>
                    <th class="col-1">ROI</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-click="selectRow(scenario)" ng-repeat="scenario in scenarios"
                    ng-class="{'active-row':scenario.isActive}">
                    <td class="non-number">{{scenario.id}}</td>
                    <td class="non-number">{{scenario.createDate}}</td>
                    <td class="non-number">{{scenario.beginMonth}}</td>
                    <td class="non-number">{{scenario.endMonth}}</td>
                    <td class="non-number">{{scenario.AM}}</td>
                    <td>{{scenario.plannedSpend | formatCurrency}}</td>
                    <td>{{scenario.revenue| formatCurrency}}</td>
                    <td>{{scenario.ROI}}%</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--end table view-->
    <!--button bar-->
    <div class="row">
        <span class="btn btn-orange" ng-class="{'disabled':operation.disable}" ng-click="switchToView(key)" ng-repeat="(key,operation) in operations">{{key}}</span>
    </div>
</div>
