<div class="container-fluid" id="Initial Input" ng-if="nav.current==='Initial Input'">
    <div class="row">
        <ol class="breadcrumb path path-palnforward">
            <li><a href="#/">Home</a></li>
            <li><a href="javascript:void(0)" ng-click="nav.current='Initial Input'">Plan Forward</a></li>
            <li>Initial Input</li>
        </ol>
    </div>
    <div class="row">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="planForwardBrand" class="col-sm-3 control-label">Brand:</label>
                <label class="col-sm-4">
                    <select id="planForwardBrand" class="form-control" ng-model="planForward.brand"
                            ng-options="b for b in brands">
                    </select>
                </label>

                <div class="col-sm-1 help-info">
                    <i class="fa fa-question-circle" tooltip-placement="right" tooltip="{{brandTooltips}}"></i>
                </div>
            </div>
            <div class="form-group">
                <label for="planForwardAttribution" class="col-sm-3 control-label">Attribution:</label>

                <div class="col-sm-4" id="planForwardAttribution">
                    <label class="radio-inline">
                    <input type="radio" ng-model="planForward.attribution" value="LTA">LTA
                    </label>
                    <label class="radio-inline">
                    <input type="radio" ng-model="planForward.attribution" value="MTA">MTA
                    </label>

                    <!--
                    <label class="btn btn-default" ng-model="planForward.attribution" btn-radio="'LTA'" uncheckable>
                        LTA
                    </label>
                    <label class="btn btn-default" ng-model="planForward.attribution" btn-radio="'MTA'" uncheckable>
                        MTA
                    </label>
                    -->
                </div>
                <div class="col-sm-1 help-info">
                    <i class="fa fa-question-circle" tooltip-placement="right" tooltip="{{attrTooltips}}"></i>
                </div>
            </div>
            <div class="form-group">
                <label for="planForwardBeginPeriod" class="col-sm-3 control-label">Begin Period:</label>

                <div class="col-sm-4">
                    <div class="input-group">
                        <input id="planForwardBeginPeriod" type="text" class="form-control" datepicker-popup="{{format}}"
                               ng-model="planForward.beginPeriod" is-open="opened.planForwardBeginPeriod"
                               min-date="{{minDate}}" datepicker-options="dateOptions" datepicker-mode="'month'"
                               ng-required="true" close-text="Close" disabled>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event, 'planForwardBeginPeriod')">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-1 help-info">
                    <i class="fa fa-question-circle" tooltip-placement="right" tooltip="{{beginPeriodTooltips}}"></i>
                </div>
            </div>
            <div class="form-group">
                <label for="planForwardEndPeriod" class="col-sm-3 control-label">End Period:</label>

                <div class="col-sm-4">
                    <div class="input-group">
                        <input id="planForwardEndPeriod" type="text" class="form-control" datepicker-popup="{{format}}"
                               ng-model="planForward.endPeriod" is-open="opened.planForwardEndPeriod" ng-change="getLastDate()"
                               min-date="planForward.beginPeriod" datepicker-options="dateOptions" disabled
                               datepicker-mode="'month'" ng-required="true" close-text="Close"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event, 'planForwardEndPeriod')">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-1 help-info">
                    <i class="fa fa-question-circle" tooltip-placement="right" tooltip="{{endPeriodTooltips}}"></i>
                </div>
            </div>
            <div class="form-group">
                <label for="planForwardSpend" class="col-sm-3 control-label">Portfolio Spend:</label>

                <div class="col-sm-4">
                    <input class="form-control" id="planForwardSpend" type="text" ng-model="planForward.spend"
                           format-input>
                </div>
                <div class="col-sm-1 help-info">
                    <i class="fa fa-question-circle" tooltip-placement="right" tooltip="{{spendTooltips}}"></i>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5 col-sm-offset-3">
                    <button type="button" class="btn btn-default" ng-click="CInput()">Next
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container-fluid" id="Constraints Input" ng-if="nav.current==='Constraints Input'">
    <div class="row">
        <ol class="breadcrumb path path-palnforward">
            <li><a href="#/">Home</a></li>
            <li><a href="javascript:void(0)" ng-click="nav.current='Initial Input'">Plan Forward</a></li>
            <li><a href="javascript:void(0)" ng-click="nav.current='Initial Input'">Initial Input</a></li>
            <li>Constraints Input</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-sm-12 well well-sm">
            <label>Brand</label>: {{planForward.brand}}
            <label>Attribution</label>: {{planForward.attribution}}
            <label>Begin Period</label>: {{planForward.beginPeriod | date: 'MMM-dd-yyyy'}}
            <label>End Period</label>: {{planForward.endPeriod | date: 'MMM-dd-yyyy'}}
            <label>Portfolio Spend </label>: {{planForward.spend | formatCurrency}}
            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-condensed roi-table">
                    <thead>
                    <tr>
                        <th class="col-1" rowspan="2">Portfolio Channels</th>
                        <th class="col-1" rowspan="2">Select for Planning?</th>
                        <th class="col-1" rowspan="2">Lower Bound</th>
                        <th class="col-2" colspan="2">Spend Constraints</th>
                        <th class="col-1" rowspan="2">Upper Bound</th>
                        <th class="col-1" rowspan="2">Scaling Factor</th>
                    </tr>
                    <tr>
                        <th class="col-1">Minimum</th>
                        <th class="col-1">Maximum</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="td-title" ng-click="hideSemItems = !hideSemItems">SEM Total<button class="btn btn-xs btn-default"><i ng-hide="hideSemItems" class="fa fa-minus"></i><i ng-show="hideSemItems" class="fa fa-plus"></i></button></td>
                        <td class="check">
                            <label>
                                <input type="checkbox" ng-model="planForward.selectPlan.semTotal" ng-click="totCheck()">
                            </label>
                        </td>
                        <td>{{planForward.output.semTLB | formatCurrency}}</td>
                        <td>{{planForward.input.semMin | formatCurrency}}</td>
                        <td>{{planForward.input.semMax | formatCurrency}}</td>
                        <td>{{planForward.output.semTUB | formatCurrency}}</td>
                        <td>{{planForward.output.semBSF}}</td>
                    </tr>
                    <tr ng-hide="hideSemItems">
                        <td class="td-subtitle">SEM-Brand</td>
                        <td class="check">
                            <label>
                                <input type="checkbox" ng-model="planForward.selectPlan.semBrand" ng-click="subCheck()">
                            </label>
                        </td>
                        <td>{{planForward.output.semBLB | formatCurrency}}</td>
                        <td class="range-input">
                            <range-input ng-model="planForward.input.semBMin" min="planForward.output.semBLB" max="planForward.input.semBMax"></range-input>
                        </td>
                        <td class="range-input">
                            <range-input ng-model="planForward.input.semBMax" min="planForward.input.semBMin" max="planForward.output.semBUB"></range-input>
                        </td>
                        <td>{{planForward.output.semBUB | formatCurrency}}</td>
                        <td>{{planForward.output.semBSF}}</td>
                    </tr>
                    <tr ng-hide="hideSemItems">
                        <td class="td-subtitle">SEM-Card</td>
                        <td class="check">
                            <label>
                                <input type="checkbox" ng-model="planForward.selectPlan.semCard" ng-click="subCheck()">
                            </label>
                        </td>
                        <td>{{planForward.output.semCLB | formatCurrency}}</td>
                        <td class="range-input">
                            <range-input ng-model="planForward.input.semCMin" min="planForward.output.semCLB" max="planForward.input.semCMax"></range-input>
                        </td>
                        <td class="range-input">
                            <range-input ng-model="planForward.input.semCMax" min="planForward.input.semCMin" max="planForward.output.semCUB"></range-input>
                        </td>
                        <td>{{planForward.output.semCUB | formatCurrency}}</td>
                        <td>{{planForward.output.semCSF}}</td>
                    </tr>
                    <tr ng-hide="hideSemItems">
                        <td class="td-subtitle">SEM-Photobook</td>
                        <td class="check">
                            <label class="check">
                                <input type="checkbox" ng-model="planForward.selectPlan.semPhotobook" ng-click="subCheck()">
                            </label>
                        </td>
                        <td>{{planForward.output.semPLB | formatCurrency}}</td>
                        <td class="range-input">
                            <range-input ng-model="planForward.input.semPMin" min="planForward.output.semPLB" max="planForward.input.semPMax"></range-input>
                        </td>
                        <td class="range-input">
                            <range-input ng-model="planForward.input.semPMax" min="planForward.input.semPMin" max="planForward.output.semPUB"></range-input>
                        </td>
                        <td>{{planForward.output.semPUB | formatCurrency}}</td>
                        <td>{{planForward.output.semPSF}}</td>
                    </tr>
                    <tr ng-hide="hideSemItems">
                        <td class="td-subtitle">SEM-Others</td>
                        <td class="check">
                            <label>
                                <input type="checkbox" ng-model="planForward.selectPlan.semOthers" ng-click="subCheck()">
                            </label>
                        </td>
                        <td>{{planForward.output.semOLB | formatCurrency}}</td>
                        <td class="range-input">
                            <range-input ng-model="planForward.input.semOMin" min="planForward.output.semOLB" max="planForward.input.semOMax"></range-input>
                        </td>
                        <td class="range-input">
                            <range-input ng-model="planForward.input.semOMax" min="planForward.input.semOMin" max="planForward.output.semOUB"></range-input>
                        </td>
                        <td>{{planForward.output.semOUB | formatCurrency}}</td>
                        <td>{{planForward.output.semOSF}}</td>
                    </tr>
                    <tr>
                        <td class="td-title">Display</td>
                        <td class="check">
                            <label>
                                <input type="checkbox" ng-model="planForward.selectPlan.display">
                            </label>
                        </td>
                        <td>{{planForward.output.disLB | formatCurrency}}</td>
                        <td class="range-input">
                            <range-input ng-model="planForward.input.disMin" min="planForward.output.disLB" max="planForward.input.disMax"></range-input>
                        </td>
                        <td class="range-input">
                            <range-input ng-model="planForward.input.disMax" min="planForward.input.disMin" max="planForward.output.disUB"></range-input>
                        </td>
                        <td>{{planForward.output.disUB | formatCurrency}}</td>
                        <td>{{planForward.output.disSF}}</td>
                    </tr>
                    <tr>
                        <td class="td-title">Social(FB)</td>
                        <td class="check">
                            <label>
                                <input type="checkbox" ng-model="planForward.selectPlan.social">
                            </label>
                        </td>
                        <td>{{planForward.output.socLB | formatCurrency}}</td>
                        <td class="range-input">
                            <range-input ng-model="planForward.input.socMin" min="planForward.output.socLB" max="planForward.input.socMax"></range-input>
                        </td>
                        <td class="range-input">
                            <range-input ng-model="planForward.input.socMax" min="planForward.input.socMin" max="planForward.output.socUB"></range-input>
                        </td>
                        <td>{{planForward.output.socUB | formatCurrency}}</td>
                        <td>{{planForward.output.socSF}}</td>
                    </tr>
                    <tr>
                        <td class="td-title">Affiliates</td>
                        <td class="check">
                            <label>
                                <input type="checkbox" ng-model="planForward.selectPlan.affiliates">
                            </label>
                        </td>
                        <td>{{planForward.output.affLB | formatCurrency}}</td>
                        <td class="range-input">
                            <range-input ng-model="planForward.input.affMin" min="planForward.output.affLB" max="planForward.input.affMax"></range-input>
                        </td>
                        <td class="range-input">
                            <range-input ng-model="planForward.input.affMax" min="planForward.input.affMin" max="planForward.output.affUB"></range-input>
                        </td>
                        <td>{{planForward.output.affUB | formatCurrency}}</td>
                        <td>{{planForward.output.affSF}}</td>
                    </tr>
                    <tr>
                        <td class="td-title">Partners</td>
                        <td class="check">
                            <label>
                                <input type="checkbox" ng-model="planForward.selectPlan.partners">
                            </label>
                        </td>
                        <td>{{planForward.output.parLB | formatCurrency}}</td>
                        <td class="range-input">
                            <range-input ng-model="planForward.input.parMin" min="planForward.output.parLB" max="planForward.input.parMax"></range-input>
                        </td>
                        <td class="range-input">
                            <range-input ng-model="planForward.input.parMax" min="planForward.input.parMin" max="planForward.output.parUB"></range-input>
                        </td>
                        <td>{{planForward.output.parUB | formatCurrency}}</td>
                        <td>{{planForward.output.parSF}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-condensed roi-table">
                    <thead>
                    <tr>
                        <th class="col-1">Control Channels</th>
                        <th ng-repeat="month in planForward.ControlChannels" class="col-1">{{month | date: 'MMM-dd-yyyy'}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="td-title">DM</td>
                        <td ng-repeat="spend in planForward.ControlChannelsDM">{{spend}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-condensed roi-table">
                    <tr>
                        <th rowspan="2" class="col-1">TV</th>
                        <th class="col-1">Begin Date</th>
                        <th class="col-1">End Date</th>
                        <th class="col-1">Spend ($)</th>
                        <th class="col-1">Impressions</th>
                    </tr>
                    <tr>
                        <td>{{planForward.output.tvBeginDate}}</td>
                        <td>{{planForward.output.tvEndDate}}</td>
                        <td>{{planForward.output.tvSpend}}</td>
                        <td>{{planForward.output.tvImpressions}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <form class="form-group form-horizontal">
            <div class="col-sm-2 col-sm-offset-3">
                <button type="button" class="btn btn-default" ng-click="nav.current='Initial Input'">Prev</button>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-default" ng-click="calculate()">Next</button>
            </div>
        </form>
    </div>
</div>

<div class="container-fluid" id="Output" ng-if="nav.current==='Output'">
    <div class="row">
        <ol class="breadcrumb path path-palnforward">
            <li><a href="#/">Home</a></li>
            <li><a href="javascript:void(0)" ng-click="nav.current='Initial Input'">Plan Forward</a></li>
            <li><a href="javascript:void(0)" ng-click="nav.current='Initial Input'">Initial Input</a></li>
            <li><a href="javascript:void(0)" ng-click="nav.current='Constraints Input'">Constraints Input</a></li>
            <li>Output</li>
        </ol>
    </div>
    <div class="row">
        <div class="well well-sm"><label>Scenario ID:</label>{{planForward.output.ScenarioID}}<br>
            <label>Brand</label>: {{planForward.brand}}
            <label>Attribution</label>: {{planForward.attribution}}
            <label>Begin Period</label>: {{planForward.beginPeriod | date: 'MMM-dd-yyyy'}}
            <label>End Period</label>: {{planForward.endPeriod | date: 'MMM-dd-yyyy'}}
            <label>Portfolio Spend </label>: {{planForward.spend | formatCurrency}}
        </div>
    </div>
    <div class="row">
        <div class="{{planforwardContentSize}}">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-condensed roi-table">
                    <thead>
                    <tr>
                        <th rowspan="2" class="col-1">Portfolio Channels</th>
                        <th colspan="5" class="col-5">Input</th>
                        <th colspan="2" class="col-2">Optimized</th>
                        <th colspan="5" class="col-5">What-if</th>
                        <th colspan="2" class="col-2">Different</th>
                    </tr>
                    <tr>
                        <th class="col-1">Lower</th>
                        <th class="col-1">Min</th>
                        <th class="col-1">Max</th>
                        <th class="col-1">Upper</th>
                        <th class="col-1">Scaling</th>
                        <th class="col-1">Spend</th>
                        <th class="col-1">Rev</th>
                        <th class="col-1">Min</th>
                        <th class="col-1">Max</th>
                        <th class="col-1">Scaling</th>
                        <th class="col-1">Spend</th>
                        <th class="col-1">Rev</th>
                        <th class="col-1">Spend</th>
                        <th class="col-1">Rev</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="td-title" ng-click="hideSemItems = !hideSemItems">SEM Total<button class="btn btn-xs btn-default"><i ng-hide="hideSemItems" class="fa fa-minus"></i><i ng-show="hideSemItems" class="fa fa-plus"></i></button></td>
                        <td>{{planForward.output.semTLB | formatCurrency}}</td>
                        <td>{{planForward.input.semTMin | formatCurrency}}</td>
                        <td>{{planForward.input.semTMax | formatCurrency}}</td>
                        <td>{{planForward.output.semTUB | formatCurrency}}</td>
                        <td>{{planForward.output.semBSF }}</td>
                        <td>{{planForward.output.semTSR | formatCurrency}}</td>
                        <td>{{planForward.output.semPR | formatCurrency}}</td>
                        <td>{{planForward.input.semTMin | formatCurrency}}</td>
                        <td>{{planForward.input.semTMax | formatCurrency}}</td>
                        <td>{{planForward.output.semBSF }}</td>
                        <td>{{planForward.input.semTSR | formatCurrency}}</td>
                        <td>{{planForward.output.semAR | formatCurrency}}</td>
                        <td>{{planForward.output.semTSD | formatCurrency}}</td>
                        <td>$0</td>
                    </tr>
                    <tr ng-hide="hideSemItems">
                        <td class="td-subtitle">SEM - Brand</td>
                        <td>{{planForward.output.semBLB | formatCurrency}}</td>
                        <td>{{planForward.input.semBMin | formatCurrency}}</td>
                        <td>{{planForward.input.semBMax | formatCurrency}}</td>
                        <td>{{planForward.output.semBUB | formatCurrency}}</td>
                        <td>{{planForward.output.semBSF}}</td>
                        <td>{{planForward.output.semBSR | formatCurrency}}</td>
                        <td class="disabled">-</td>
                        <td>{{planForward.input.semBMin | formatCurrency}}</td>
                        <td>{{planForward.input.semBMax | formatCurrency}}</td>
                        <td>{{planForward.output.semBSF}}</td>
                        <td class="range-input">
                            <range-input ng-model="planForward.input.semBAS" min="planForward.input.semBMin" max="planForward.input.semBMax"></range-input>
                        </td>
                        <td class="disabled">-</td>
                        <td>{{planForward.output.semBSD | formatCurrency}}</td>
                        <td>$0</td>
                    </tr>
                    <tr ng-hide="hideSemItems">
                        <td class="td-subtitle">SEM - Card</td>
                        <td>{{planForward.output.semCLB | formatCurrency}}</td>
                        <td>{{planForward.input.semCMin | formatCurrency}}</td>
                        <td>{{planForward.input.semCMax | formatCurrency}}</td>
                        <td>{{planForward.output.semCUB | formatCurrency}}</td>
                        <td>{{planForward.output.semCSF}}</td>
                        <td>{{planForward.output.semCSR | formatCurrency}}</td>
                        <td class="disabled">-</td>
                        <td>{{planForward.input.semCMin | formatCurrency}}</td>
                        <td>{{planForward.input.semCMax | formatCurrency}}</td>
                        <td>{{planForward.output.semCSF}}</td>
                        <td class="range-input">
                            <range-input ng-model="planForward.input.semCAS" min="planForward.input.semCMin" max="planForward.input.semCMax"></range-input>
                        </td>
                        <td class="disabled">-</td>
                        <td>{{planForward.output.semCSD | formatCurrency}}</td>
                        <td>$0</td>
                    </tr>
                    <tr ng-hide="hideSemItems">
                        <td class="td-subtitle">SEM - Photobook</td>
                        <td>{{planForward.output.semPLB | formatCurrency}}</td>
                        <td>{{planForward.input.semPMin | formatCurrency}}</td>
                        <td>{{planForward.input.semPMax | formatCurrency}}</td>
                        <td>{{planForward.output.semPUB | formatCurrency}}</td>
                        <td>{{planForward.output.semPSF}}</td>
                        <td>{{planForward.output.semPSR | formatCurrency}}</td>
                        <td class="disabled">-</td>
                        <td>{{planForward.input.semPMin | formatCurrency}}</td>
                        <td>{{planForward.input.semPMax | formatCurrency}}</td>
                        <td>{{planForward.output.semPSF}}</td>
                        <td class="range-input">
                            <range-input ng-model="planForward.input.semPAS" min="planForward.input.semPMin" max="planForward.input.semPMax"></range-input>
                        </td>
                        <td class="disabled">-</td>
                        <td>{{planForward.output.semPSD | formatCurrency}}</td>
                        <td>$0</td>
                    </tr>
                    <tr ng-hide="hideSemItems">
                        <td class="td-subtitle">SEM - Others</td>
                        <td>{{planForward.output.semOLB | formatCurrency}}</td>
                        <td>{{planForward.input.semOMin | formatCurrency}}</td>
                        <td>{{planForward.input.semOMax | formatCurrency}}</td>
                        <td>{{planForward.output.semOUB | formatCurrency}}</td>
                        <td>{{planForward.output.semOSF}}</td>
                        <td>{{planForward.output.semOSR | formatCurrency}}</td>
                        <td class="disabled">-</td>
                        <td>{{planForward.input.semOMin | formatCurrency}}</td>
                        <td>{{planForward.input.semOMax | formatCurrency}}</td>
                        <td>{{planForward.output.semOSF}}</td>
                        <td class="range-input">
                            <range-input ng-model="planForward.input.semOAS" min="planForward.input.semOMin" max="planForward.input.semOMax"></range-input>
                        </td>
                        <td class="disabled">-</td>
                        <td>{{planForward.output.semOSD | formatCurrency}}</td>
                        <td>$0</td>
                    </tr>
                    <tr>
                        <td class="td-title">Display</td>
                        <td>{{planForward.output.disLB | formatCurrency}}</td>
                        <td>{{planForward.input.disMin | formatCurrency}}</td>
                        <td>{{planForward.input.disMax | formatCurrency}}</td>
                        <td>{{planForward.output.disUB | formatCurrency}}</td>
                        <td>{{planForward.output.disSF}}</td>
                        <td>{{planForward.output.disSR | formatCurrency}}</td>
                        <td>{{planForward.output.disPR | formatCurrency}}</td>
                        <td>{{planForward.input.disMin | formatCurrency}}</td>
                        <td>{{planForward.input.disMax | formatCurrency}}</td>
                        <td>{{planForward.output.disSF}}</td>
                        <td class="range-input">
                            <range-input ng-model="planForward.input.disAS" min="planForward.input.disMin" max="planForward.input.disMax"></range-input>
                        </td>
                        <td>{{planForward.output.disAR | formatCurrency}}</td>
                        <td>{{planForward.output.disSD | formatCurrency}}</td>
                        <td>$0</td>
                    </tr>
                    <tr>
                        <td class="td-title">Social(FB)</td>
                        <td>{{planForward.output.socLB | formatCurrency}}</td>
                        <td>{{planForward.input.socMin | formatCurrency}}</td>
                        <td>{{planForward.input.socMax | formatCurrency}}</td>
                        <td>{{planForward.output.socUB | formatCurrency}}</td>
                        <td>{{planForward.output.socSF}}</td>
                        <td>{{planForward.output.socSR | formatCurrency}}</td>
                        <td>{{planForward.output.socPR | formatCurrency}}</td>
                        <td>{{planForward.input.socMin | formatCurrency}}</td>
                        <td>{{planForward.input.socMax | formatCurrency}}</td>
                        <td>{{planForward.output.socSF}}</td>
                        <td class="range-input">
                            <range-input ng-model="planForward.input.socAS" min="planForward.input.disMin" max="planForward.input.disMax"></range-input>
                        </td>
                        <td>{{planForward.output.socAR | formatCurrency}}</td>
                        <td>{{planForward.output.socSD | formatCurrency}}</td>
                        <td>$0</td>
                    </tr>
                    <tr>
                        <td class="td-title">Affiliates</td>
                        <td>{{planForward.output.affLB | formatCurrency}}</td>
                        <td>{{planForward.input.affMin | formatCurrency}}</td>
                        <td>{{planForward.input.affMax | formatCurrency}}</td>
                        <td>{{planForward.output.affUB | formatCurrency}}</td>
                        <td>{{planForward.output.affSF}}</td>
                        <td>{{planForward.output.affSR | formatCurrency}}</td>
                        <td>{{planForward.output.affPR | formatCurrency}}</td>
                        <td>{{planForward.input.affMin | formatCurrency}}</td>
                        <td>{{planForward.input.affMax | formatCurrency}}</td>
                        <td>{{planForward.output.affSF}}</td>
                        <td class="range-input">
                            <range-input ng-model="planForward.input.affAS" min="planForward.input.disMin" max="planForward.input.disMax"></range-input>
                        </td>
                        <td>{{planForward.output.affAR | formatCurrency}}</td>
                        <td>{{planForward.output.affSD | formatCurrency}}</td>
                        <td>$0</td>
                    </tr>
                    <tr>
                        <td class="td-title">Partners</td>
                        <td>{{planForward.output.parLB | formatCurrency}}</td>
                        <td>{{planForward.input.parMin | formatCurrency}}</td>
                        <td>{{planForward.input.parMax | formatCurrency}}</td>
                        <td>{{planForward.output.parUB | formatCurrency}}</td>
                        <td>{{planForward.output.parSF}}</td>
                        <td>{{planForward.output.parSR | formatCurrency}}</td>
                        <td>{{planForward.output.parPR | formatCurrency}}</td>
                        <td>{{planForward.input.parMin | formatCurrency}}</td>
                        <td>{{planForward.input.parMax | formatCurrency}}</td>
                        <td>{{planForward.output.parSF}}</td>
                        <td class="range-input">
                            <range-input ng-model="planForward.input.parAS" min="planForward.input.disMin" max="planForward.input.disMax"></range-input>
                        </td>
                        <td>{{planForward.output.parAR | formatCurrency}}</td>
                        <td>{{planForward.output.parSD | formatCurrency}}</td>
                        <td>$0</td>
                    </tr>
                    <tr>
                        <td class="td-title">Portfolio Total</td>
                        <td>{{planForward.output.PTLB | formatCurrency}}</td>
                        <td>{{planForward.input.PTMin | formatCurrency}}</td>
                        <td>{{planForward.input.PTMax | formatCurrency}}</td>
                        <td>{{planForward.output.PTUB | formatCurrency}}</td>
                        <td>{{planForward.output.semBSF}}</td>
                        <td>{{planForward.output.PTSR | formatCurrency}}</td>
                        <td>{{planForward.output.PTPR | formatCurrency}}</td>
                        <td>{{planForward.input.PTMin | formatCurrency}}</td>
                        <td>{{planForward.input.PTMax | formatCurrency}}</td>
                        <td>{{planForward.output.semBSF}}</td>
                        <td>{{planForward.input.PTSR | formatCurrency}}</td>
                        <td>{{planForward.output.PTPR | formatCurrency}}</td>
                        <td>{{planForward.output.PTSD | formatCurrency}}</td>
                        <td>$0</td>
                    </tr>
                    <tr>
                        <td class="td-title">Portfolio ROI</td>
                        <td colspan="5"></td>
                        <td colspan="2">%</td>
                        <td colspan="5">%</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="all"></td>
                    </tr>
                    <tr>
                        <td colspan="13">Change in Brand Total Revenue</td>
                        <td>%</td>
                        <td>%</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-4" ng-show="showme">
            <br/>
            <h4 style="text-align:center">Spend Difference between optimized and what-if</h4>
            <compare-chart></compare-chart>
            <h4 style="text-align:center">(-)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(+)</h4>
        </div>
    </div>
    <div class="row table-buttons">
        <div class="col-sm-10 col-sm-offset-2">
            <div class="col-sm-3">
                <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-default" ng-click="save()">Save</button>
                    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="javascript:void(0)" ng-click="">Export</a></li>
                        <li><a href="javascript:void(0)" ng-click="">Share</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-default" ng-click="">Re-run</button>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-default" ng-click="resetForm()">Reset</button>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-default" ng-click="toggle()">{{showGraph}}</button>
            </div>
        </div>
    </div>
</div>