<div class="container-fluid">
    <!--nav bar-->
    <div class="row">
        <ol class="breadcrumb path path-myscenarios">
            <li><a href="#dashBoard">Home</a></li>
            <li><a href="#myscenarios">My Scenarios</a></li>
            <li>Compare</li>
        </ol>
    </div>
    <!--end nav bar-->
    <script>
        $('table.thead-fixed-top').on('scroll', function () {
            $('table.thead-fixed-top > *').width($('table.thead-fixed-top').width() + $('table.thead-fixed-top').scrollLeft());
        });
    </script>
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive" style="max-height: 500px">
                <table class="table table-striped table-bordered table-condensed roi-table thead-fixed-top">
                    <thead>
                    <tr>
                        <th rowspan="2" class="col-1">Portfolio Channels</th>
                        <th colspan="2" class="col-2">{{compareChart.actionObjInfo[0].scenarioId}}</th>
                        <th colspan="2" class="col-2">{{compareChart.actionObjInfo[1].scenarioId}}</th>
                        <th colspan="2" class="col-2">Difference</th>
                        <th rowspan="2" class="col-6">Spend Difference (%)</th>
                    </tr>
                    <tr>
                        <th class="col-1">Spend</th>
                        <th class="col-1">Revenue</th>
                        <th class="col-1">Spend</th>
                        <th class="col-1">Revenue</th>
                        <th class="col-1">Spend</th>
                        <th class="col-1">Revenue</th>
                    </tr>
                    </thead>
                    <tbody style="max-height: 500px">
                    <tr>
                        <td class="td-title col-1">SEM Total
                            <button class="btn btn-xs btn-default" ng-click="showSem.showSemBtn()"><i
                                    ng-hide="hideSemItems" class="fa fa-minus"></i><i ng-show="hideSemItems"
                                                                                      class="fa fa-plus"></i></button>
                        </td>
                        <td class="col-1">{{compareObj.first.semAS | formatCurrency}}</td>
                        <td class="col-1">{{compareObj.first.semAR | formatCurrency}}</td>
                        <td class="col-1">{{compareObj.second.semAS | formatCurrency}}</td>
                        <td class="col-1">{{compareObj.second.semAR | formatCurrency}}</td>
                        <td class="col-1">{{compareObj.difference.semAS | formatCurrency}}</td>
                        <td class="col-1">{{compareObj.difference.semAR | formatCurrency}}</td>
                        <td rowspan="100" class="compare-chart col-6">
                            <!--<compare-chart compare-data="compareChart.data"-->
                                           <!--config="compareChart.config"></compare-chart>-->
                            <div id="container" style="min-width: 400px; max-width: 800px; height: 400px; margin: 0 auto"></div>

                        </td>
                    </tr>
                    <tr ng-hide="hideSemItems">
                        <td class="td-subtitle">SEM-Brand</td>
                        <td>{{compareObj.first.semBAS | formatCurrency}}</td>
                        <td class="disabled">-</td>
                        <td>{{compareObj.second.semBAS | formatCurrency}}</td>
                        <td class="disabled">-</td>
                        <td>{{compareObj.difference.semBAS | formatCurrency}}</td>
                        <td class="disabled">-</td>
                    </tr>
                    <tr ng-hide="hideSemItems">
                        <td class="td-subtitle">SEM-Cards</td>
                        <td>{{compareObj.first.semCAS | formatCurrency}}</td>
                        <td class="disabled">-</td>
                        <td>{{compareObj.second.semCAS | formatCurrency}}</td>
                        <td class="disabled">-</td>
                        <td>{{compareObj.difference.semCAS | formatCurrency}}</td>
                        <td class="disabled">-</td>
                    </tr>
                    <tr ng-hide="hideSemItems">
                        <td class="td-subtitle">SEM-Photobook</td>
                        <td>{{compareObj.first.semPAS | formatCurrency}}</td>
                        <td class="disabled">-</td>
                        <td>{{compareObj.second.semPAS | formatCurrency}}</td>
                        <td class="disabled">-</td>
                        <td>{{compareObj.difference.semPAS | formatCurrency}}</td>
                        <td class="disabled">-</td>
                    </tr>
                    <tr ng-hide="hideSemItems">
                        <td class="td-subtitle">SEM-Others</td>
                        <td>{{compareObj.first.semOAS | formatCurrency}}</td>
                        <td class="disabled">-</td>
                        <td>{{compareObj.second.semOAS | formatCurrency}}</td>
                        <td class="disabled">-</td>
                        <td>{{compareObj.difference.semOAS | formatCurrency}}</td>
                        <td class="disabled">-</td>
                    </tr>
                    <tr>
                        <td class="td-title">Display</td>
                        <td>{{compareObj.first.disAS | formatCurrency}}</td>
                        <td>{{compareObj.first.disAR | formatCurrency}}</td>
                        <td>{{compareObj.second.disAS | formatCurrency}}</td>
                        <td>{{compareObj.second.disAR | formatCurrency}}</td>
                        <td>{{compareObj.difference.disAS | formatCurrency}}</td>
                        <td>{{compareObj.difference.disAR | formatCurrency}}</td>
                    </tr>
                    <tr>
                        <td class="td-title">Social(FB)</td>
                        <td>{{compareObj.first.socAS | formatCurrency}}</td>
                        <td>{{compareObj.first.socAR | formatCurrency}}</td>
                        <td>{{compareObj.second.socAS | formatCurrency}}</td>
                        <td>{{compareObj.second.socAR | formatCurrency}}</td>
                        <td>{{compareObj.difference.socAS | formatCurrency}}</td>
                        <td>{{compareObj.difference.socAR | formatCurrency}}</td>
                    </tr>
                    <tr>
                        <td class="td-title">Affiliates</td>
                        <td>{{compareObj.first.affAS | formatCurrency}}</td>
                        <td>{{compareObj.first.affAR | formatCurrency}}</td>
                        <td>{{compareObj.second.affAS | formatCurrency}}</td>
                        <td>{{compareObj.second.affAR | formatCurrency}}</td>
                        <td>{{compareObj.difference.affAS | formatCurrency}}</td>
                        <td>{{compareObj.difference.affAR | formatCurrency}}</td>
                    </tr>
                    <tr>
                        <td class="td-title">Partners</td>
                        <td>{{compareObj.first.parAS | formatCurrency}}</td>
                        <td>{{compareObj.first.parAR | formatCurrency}}</td>
                        <td>{{compareObj.second.parAS | formatCurrency}}</td>
                        <td>{{compareObj.second.parAR | formatCurrency}}</td>
                        <td>{{compareObj.difference.parAS | formatCurrency}}</td>
                        <td>{{compareObj.difference.parAR | formatCurrency}}</td>
                    </tr>
                    <tr>
                        <td class="td-title">Portfolio Total</td>
                        <td>{{compareObj.first.totAS | formatCurrency}}</td>
                        <td>{{compareObj.first.totAR | formatCurrency}}</td>
                        <td>{{compareObj.second.totAS | formatCurrency}}</td>
                        <td>{{compareObj.second.totAR | formatCurrency}}</td>
                        <td>{{compareObj.difference.totAS | formatCurrency}}</td>
                        <td>{{compareObj.difference.totAR | formatCurrency}}</td>
                    </tr>
                    <tr>
                        <td class="td-title">Portfolio ROI</td>
                        <td colspan="2">{{compareObj.first.run2ProjROI}}</td>
                        <td colspan="2">{{compareObj.second.run2ProjROI}}</td>
                        <!--<td colspan="2">{{compareObj.difference.run2ProjROI | number:0}}%</td>-->
                        <td colspan="2">{{compareObj.difference.run2ProjROI | number:0}}%</td>
                    </tr>
                    <tr>
                        <td colspan="7"></td>
                    </tr>
                    <tr>
                        <td class="col-1 td-title">Change in Brand Total Revenue</td>
                        <td colspan="4"></td>
                        <td colspan="2">{{compareObj.difference.changeR*100 | number:0}}%</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <!--<div class="col-sm-4 ">-->
            <!--<a href="#myscenarios/share">-->
                <!--<button type="button" class="btn btn-default">Share</button>-->
            <!--</a>-->
        <!--</div>-->
        <div class="col-sm-offset-3 col-sm-5 table-buttons">
            <a href="#myscenarios/export">
                <button type="button" class="btn btn-default">Export</button>
            </a>
        </div>
    </div>
</div>