# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
node_modules
views/bower_components
out
gen
R/input/*.Rout
R/output/*.Rout
R/log/*.Rout
