<!DOCTYPE html>
<html ng-app="ROIClientApp">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ROI Decision Support Tool</title>
    <!--Local css dependencies-->
    <!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="bower_components/font-awsome/css/font-awesome.min.css">-->
    <!--css dependencies cdn-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!--Local css-->
    <link rel="shortcut icon" href="img/favicon.ico"/>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body ng-controller="indexCtrl" unselectable="on" style="-moz-user-select:none;-webkit-user-select:none;" onselectstart="return false;">
<!-- Start of Header -->
<header class="navbar navbar-default navbar-fixed-top navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <img src="https://cdn.staticsfly.com/img_/ui/sitenav/sfly_logo_header_full.png?v1" alt=""
                 style="margin:0 0 0 3px;" width="135px" height="48px">

            <a class="navbar-brand">ROI Decision Support Tool</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button type="button" class="btn btn-sm btn-default navbar-btn" ng-click="help()">
                        <i class="fa fa-user-md"></i> Help
                    </button>
                    <button type="button" class="btn btn-sm btn-default navbar-btn" ng-click="logout()">
                        <i class="fa fa-power-off"></i> Logout
                    </button>
                </li>
                <li>
                    Welcome, <strong>{{user.name | name}}</strong> |
                    <small>Last Logged on</small>
                    <strong>{{user.recentlyLoginDate | date: 'MMM dd, yyyy'}}</strong>
                </li>
            </ul>
        </div>
    </div>
</header>
<!-- End of Header -->

<!-- Start of main content -->
<div class="container-fluid shell">
    <div class="row">
        <div class="sidebar" ng-class="{'slide-bar-hide':slideBarHide,'slide-bar-show':!slideBarHide}">
            <a href="javascript:void(0)" ng-click="slideBarHide = !slideBarHide"><i class="fa fa-arrow-left"></i></a>
            <ul class="nav nav-sidebar">
                <li>
                    <a href="#lookback/init">
                        <span>Look Back</span><img src="img/look.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#planforward/init">
                        <span>Plan Forward</span><img src="img/plan.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#myscenarios">
                        <span>My Scenarios</span><img src="img/my.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <div class="views" ng-class="{'content-hide':slideBarHide,'content-show':!slideBarHide}">
            <div ng-view></div>
        </div>
    </div>
</div>
<!-- End of main content -->

<!--Local js Components-->
<!--<script src="bower_components/jquery/dist/jquery.min.js"></script>-->
<!--<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->
<!--<script src="bower_components/angular/angular.min.js"></script>-->
<!--<script src="bower_components/angular-route/angular-route.min.js"></script>-->
<!--<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>-->
<!--<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>-->
<!--<script src="bower_components/d3/d3.min.js"></script>-->
<!--end local js components-->

<!--cdn js Components-->
<!--<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>-->
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-route.min.js"></script>-->
<!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>-->
<script src="http://d3js.org/d3.v3.min.js"></script>
<!--end cdn js Components-->
<script src="./bower_components/jquery/dist/jquery.min.js"></script>
<script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./bower_components/angular/angular.min.js"></script>
<script src="./bower_components/angular-route/angular-route.min.js"></script>
<script src="./bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>
<script src="scripts/compareChart.js"></script>
<script src="scripts/main.js"></script>
<script src="scripts/lookBackPageModule.js"></script>
<script src="scripts/planForwardPageModule.js"></script>
<script src="scripts/myScenarios.js"></script>
<script src="scripts/roi.directiveModules.js"></script>

</body>
</html>