<!DOCTYPE html>
<html ng-app="ROIClientApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Welcome FocusKPI</title>
    <!--Local css dependencies-->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/font-awsome/css/font-awesome.min.css">
    <!--css dependencies cdn-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!--Local css-->
    <link rel="shortcut icon" href="img/favicon.ico"/>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body ng-controller="loginCtrl" unselectable="on" style="-moz-user-select:none;-webkit-user-select:none;" onselectstart="return false;">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 login-title">

            <h1>ROI Decision Support Tool</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <!--<form class="form-horizontal login-form" method="post" action="/api/login">-->
        <div class="form-horizontal login-form">
            <div class="form-group">
                <label for="username" class="col-sm-offset-1 col-sm-3 control-label">Username</label>

                <div class="col-sm-5" style="padding-left:10px;">
                    <input ng-model="login.username" type="text" class="form-control" id="username"
                           placeholder="Username" name="email">
                </div>
                <span style="color:red;" ng-show="login.error.username">Incorrect Username</span>
                <!--<label class="col-sm-4 help-info">-->
                    <!--<a href="javascript:void(0)" ng-click="">Forget Username</a>-->
                <!--</label>-->
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-offset-1 col-sm-3 control-label">Password</label>

                <div class="col-sm-5" style="padding-left:10px;">
                    <input ng-model="login.password" type="password" class="form-control" id="password"
                           placeholder="Password" name="password">
                </div>
                <span style="color:red;" ng-show="login.error.password">Incorrect Password</span>
                <!--<label class="col-sm-4 help-info">-->
                    <!--<a href="javascript:void(0)" ng-click="">Forget Password</a>-->
                <!--</label>-->
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-offset-4 col-sm-3">
                    <div class="checkbox">
                        <label>
                            <input ng-model="login.remember" type="checkbox"> Remember me
                        </label>
                    </div>
                </div>
                <label class=" col-sm-3 help-info">
                    <a href="mailto:ROI-support@focuskpi.com?subject=Request Password&body=Hi, Please reset my password." ng-click="" style="padding-left:5px;">Forgot Password ?</a>
                </label>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-offset-4 col-sm-8">
                    <a href="mailto:ROI-support@focuskpi.com?subject=Request Access&body=Hi ,Please grant me access to the ROI Tool." class="btn btn-default col-sm-4" ng-click="" style="padding-left:3px;">Request Access</a>
                    <input class="btn btn-default col-sm-offset-1 col-sm-offset-1 col-sm-3" value="Sign in" ng-click="signIn()">
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </div>
</div>
<!--<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>-->
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-route.min.js"></script>-->
<!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>-->
<script src="http://d3js.org/d3.v3.min.js"></script>
<!--end cdn js Components-->
<script src="./bower_components/jquery/dist/jquery.min.js"></script>
<script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./bower_components/angular/angular.min.js"></script>
<script src="./bower_components/angular-route/angular-route.min.js"></script>
<script src="./bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>

<script src="scripts/compareChart.js"></script>
<script src="scripts/main.js"></script>
<script src="scripts/lookBackPageModule.js"></script>
<script src="scripts/planForwardPageModule.js"></script>
<script src="scripts/myScenarios.js"></script>
<script src="scripts/roi.directiveModules.js"></script>
</body>
</html>