<div class="container-fluid" id="Initial Input">
    <div class="row">
        <ol class="breadcrumb path path-lookback">
            <li><a href="#">Home</a></li>
            <li>Look Back</li>
            <li>Initial Input</li>
        </ol>
    </div>
    <div class="row">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="lookBackBrand" class="col-sm-3 control-label">Brand:</label>

                <div class="col-sm-4">
                    <select id="lookBackBrand" class="form-control" ng-model="dataInfo.brand"
                            ng-options="b for b in dataInfo.brands"></select>
                </div>
                <div class="col-sm-1 help-info">
                    <i class="fa fa-question-circle" tooltip-placement="right" tooltip="{{tooltips.brand}}"></i>
                </div>
            </div>
            <div class="form-group">
                <label for="lookBackAttribution" class="col-sm-3 control-label">Attribution:</label>

                <div class="col-sm-4" id="lookBackAttribution">

                    <label class="radio-inline">
                        <input type="radio" ng-model="dataInfo.lmTouch" value="LTA">LTA
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="dataInfo.lmTouch" value="MTA">MTA
                    </label>
                    <!--
                    <label class="btn btn-default" ng-model="lookBack.attribution" btn-radio="'LTA'" uncheckable>
                        LTA
                    </label>
                    <label class="btn btn-default" ng-model="lookBack.attribution" btn-radio="'MTA'" uncheckable>
                        MTA
                    </label>
                    -->

                </div>
                <div class="col-sm-1 help-info">
                    <i class="fa fa-question-circle" tooltip-placement="right" tooltip="{{tooltips.attr}}"></i>
                </div>
            </div>
            <div class="form-group">
                <label for="lookBackBeginPeriod" class="col-sm-3 control-label">Begin Period:</label>

                <div class="col-sm-4">
                    <div class="input-group">
                        <input id="lookBackBeginPeriod" type="text" class="form-control" datepicker-popup="{{calender.format}}"
                               ng-model="dataInfo.beginDate" is-open="calender.opened.beginPeriod"
                               ng-change="calender.modifyDate()" show-button-bar=false
                               datepicker-options="calender.dateOptions" datepicker-mode="'month'" min-date="calender.minDate" max-date="calender.maxDate"
                               ng-required="true" close-text="Close" disabled>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="calender.open($event, 'lookBackBeginPeriod')">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-1 help-info">
                    <i class="fa fa-question-circle" tooltip-placement="right" tooltip="{{tooltips.beginPeriod}}"></i>
                </div>
            </div>
            <div class="form-group">
                <label for="lookBackEndPeriod" class="col-sm-3 control-label">End Period:</label>

                <div class="col-sm-4">
                    <div class="input-group">
                        <input id="lookBackEndPeriod" type="text" class="form-control" datepicker-popup="{{calender.format}}"
                               ng-model="dataInfo.endDate" is-open="calender.opened.endPeriod"
                               ng-change="calender.modifyDate()" show-button-bar=false
                               min-date="dataInfo.beginDate" datepicker-options="calender.dateOptions"
                               datepicker-mode="'month'" disabled max-date="calender.eMaxDate" ng-required="true"
                               close-text="Close">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="calender.open($event, 'lookBackEndPeriod')">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-1 help-info">
                    <i class="fa fa-question-circle" tooltip-placement="right" tooltip="{{tooltips.endPeriod}}"></i>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    <!--Include data through {{dataInfo.endDate | date: 'MMM-dd-yyyy'}}? :<br>-->
                    Include data through end period? :
                </label>

                <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" ng-model="dataInfo.included" value="Yes">Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="dataInfo.included" value="No">No
                    </label>
                </div>
                <div class="col-sm-1 help-info">
                    <i class="fa fa-question-circle" tooltip-placement="right" tooltip="{{tooltips.included}}"></i>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-5 col-sm-offset-3">
                    <button type="button" class="btn btn-default" ng-click="nextPage()">Next</button>
                </div>
            </div>
        </form>
    </div>
</div>
