<div class="container-fluid">
    <!--nav bar-->
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#dashBoard">Home</a></li>
            <li><a href="#planforward">Plan Forward</a></li>
            <li><a href="">Initial Input</a></li>
            <li><a href="">Constraints Input</a></li>
            <li><a href="">Output</a></li>
            <li>Edit</li>
        </ol>
    </div>
    <!--end nav bar-->
    <!--form-->
    <form class="form-horizontal">
        <!--Scenario id-->
        <div class="form-group">
            <label class="col-xs-12 col-sm-2 control-label">Scenario ID:</label>

            <div class="col-xs-11 col-sm-4">
                <div class="well well-sm">
                    SFLY-Jun2015-Oct2015-LTA-X-O-001
                </div>
            </div>
        </div>
        <!--input scenario name-->
        <div class="form-group">
            <label class="col-xs-12 col-sm-2 control-label">Scenario Name:</label>

            <div class="col-xs-11 col-sm-4">
                <input class="form-control">
            </div>
            <div class="col-xs-1 elp-info">
                <i class="fa fa-question-circle" tooltip-placement="left" tooltip="tooltip"></i>
            </div>
        </div>
        <!--textarea notes-->
        <div class="form-group">
            <label class="col-xs-12 col-sm-2 control-label">Notes about the scenario:</label>

            <div class="col-xs-11 col-sm-4">
                <textarea class="form-control"></textarea>
            </div>
            <div class="col-xs-1 elp-info">
                <i class="fa fa-question-circle" tooltip-placement="left" tooltip="tooltip"></i>
            </div>
        </div>
        <!--checkbox final scenario-->
        <div class="form-group">
            <div class="col-xs-11 col-sm-4 col-sm-offset-2">
            <div class="checkbox">
                <label class="control-label">
                    <input type="checkbox" ng-model=""> Final scenario
                </label>
            </div>
                </div>
            <div class="col-xs-1 elp-info">
                <i class="fa fa-question-circle" tooltip-placement="left" tooltip="tooltip"></i>
            </div>
        </div>
        <!--button save and cancel-->
        <div class="form-group">
            <div class="col-xs-6 col-xs-offset-0 col-sm-2 col-sm-offset-2">
                <button type="button" class="btn btn-default" ng-click="savePlanForward()">Save</button>
            </div>
            <div class="col-xs-6 col-sm-2">
                <a type="button" href="#/planforward/output" class="btn btn-default">Cancel</a>
            </div>
        </div>
    </form>
    <!--end of form-->
</div>