<div class="container-fluid">
    <div class="row">
        <ol class="breadcrumb path path-palnforward">
            <li><a href="#/">Home</a></li>
            <li>Plan Forward</li>
            <li><a href="#/planforward/init">Initial Input</a></li>
            <li><a href="#/planforward/constrict">Constraints Input</a></li>
            <li>Output</li>
        </ol>
    </div>
    <div style="height: 400px" ng-hide="getJson" >
        <div class="jumbotron">

        </div>
    </div>
    <div class="row info-tool" ng-show="getJson">
        <div class="well well-sm">
            <label>Scenario ID:&nbsp</label>{{scenario.scenarioId}}<br>
            <label>Brand</label>: {{scenario.brand}}
            <label>Attribution</label>: {{scenario.lmTouch}}
            <label>Begin Period</label>: {{scenario.beginDate | date: 'MMM-yyyy'}}
            <label>End Period</label>: {{scenario.endDate | date: 'MMM-yyyy'}}
            <label>Portfolio Spend </label>: <span ng-show="!slideError">{{scenario.spend | formatCurrency}}</span><span ng-show="slideError" style="color:red;">{{scenario.spend | formatCurrency}}</span>
            <label>Data through</label>: {{scenario.dataThrough | date: 'MMM-yyyy'}}
            <!--<span ng-show="slideError" style="color:red">{{slideErrorValue}}</span>-->
        </div>
    </div>
    <script>
        $('.fixed-table-container-content').scroll(function () {
            console.log('scrolling');
            var a = $('.fixed-table-container-content').scrollTop();
            $('.first-body').scrollTop(a);
        });
        $('table.thead-fixed-top').on('scroll', function () {
            $('table.thead-fixed-top > *').width($('table.thead-fixed-top').width() + $('table.thead-fixed-top').scrollLeft());
            console.log($('table.thead-fixed-top').scrollLeft());
        });
        $('#showgraphbtn').click( function () {
            //$('table.thead-fixed-top > *').width($('info-tool').width() );
            $('table.thead-fixed-top > *').width($('table.thead-fixed-top').width() + $('table.thead-fixed-top').scrollLeft());
            console.log($('table.thead-fixed-top').scrollLeft());
            var b = $('info-tool').width();
            $('.fixed-table-container-content').scrollLeft(b);
        });
        $(document).ready(function(){
            $('.first-cell').outerHeight($('.col-1').height());
            $('.second-cell').outerHeight($('.col-1').height()+4);
            $('.first-header').outerHeight($('.col-1').height()*2+1);
        });

    </script>
    <div class="row" ng-show="getJson">
        <div class="{{planforwardContentSize}}">
            <div class=" table-container table-responsive">
                <table class="table table-striped table-bordered table-condensed first-table"  align="center">
                    <thead>
                    <tr>
                        <th class="col-h-1" rowspan="2">Portfolio <br/>Channels</th>
                    </tr>
                    </thead>
                    <tbody class="first-body">
                    <tr>
                        <td class="col-1 td-title" ng-click="showSem.showSemBtn()">SEM Total&nbsp;&nbsp;<button class="btn btn-xs btn-default"><i ng-hide="hideSemItems" class="fa fa-minus"></i><i ng-show="hideSemItems" class="fa fa-plus"></i></button></td>
                    </tr>
                    <tr ng-hide="hideSemItems">
                        <td class="col-1 td-subtitle">&nbsp;&nbsp;SEM-Brand</td>
                    </tr>
                    <tr ng-hide="hideSemItems">
                        <td class="col-1 td-subtitle">&nbsp;&nbsp;SEM-Cards</td>
                    </tr>
                    <tr ng-hide="hideSemItems">
                        <td class="col-1 td-subtitle">&nbsp;&nbsp;SEM-Photobook</td>
                    </tr>
                    <tr ng-hide="hideSemItems">
                        <td class="col-1 td-subtitle">&nbsp;&nbsp;SEM-Others</td>
                    </tr>
                    <tr>
                        <td class="col-1 td-title">Display</td>
                    </tr>
                    <tr>
                        <td class="col-1 td-title">Social</td>
                    </tr>
                    <tr>
                        <td class="col-1 td-title">Affiliates</td>
                    </tr>
                    <tr>
                        <td class="col-1 td-title">Partners</td>
                    </tr>
                    <tr>
                        <td class="col-1 td-title">Portfolio Total</td>
                    </tr>
                    <tr>
                        <td class="col-1 td-title">Portfolio ROI</td>
                    </tr>
                    <tr>
                        <td class="td-title" style="height: 48px">Change in Brand Total Revenue</td>
                    </tr>
                </table>
                <table class="table table-bordered table-hover roi-table table-striped thead-fixed-top">
                    <thead>
                    <tr>
                        <!--<th rowspan="2" class="col-1 first-covered-column">Portfolio <br/> Channels-->
                        <!--</th>-->
                        <th colspan="5" class="col-5" ng-hide="showme">Input</th>
                        <th colspan="2" class="col-2">Optimized</th>
                        <th colspan="2" class="col-2">What-if</th>
                        <th colspan="2" class="col-2">Difference</th>
                    </tr>
                    <tr>
                        <th class="col-1" ng-hide="showme">Lower</th>
                        <th class="col-1" ng-hide="showme">Min</th>
                        <th class="col-1" ng-hide="showme">Max</th>
                        <th class="col-1" ng-hide="showme">Upper</th>
                        <th class="col-1" ng-hide="showme">Scaling</th>
                        <th class="col-1">Spend</th>
                        <th class="col-1">Rev</th>
                        <!--<th class="col-1">Min</th>-->
                        <!--<th class="col-1">Max</th>-->
                        <!--<th class="col-1">Scaling</th>-->
                        <th class="col-1">Spend</th>
                        <th class="col-1">Rev</th>
                        <th class="col-1">Spend</th>
                        <th class="col-1">Rev</th>
                    </tr>
                    </thead>
                    <tbody class="fixed-table-container-content">
                    <tr>
                        <!--<td class="td-title col-1" ng-click="hideSemItems = !hideSemItems">SEM Total-->
                            <!--<button class="btn btn-xs btn-default"> <i ng-hide="hideSemItems" class="fa fa-minus"></i> <i-->
                                    <!--ng-show="hideSemItems" class="fa fa-plus"> </i></button>-->
                        <!--</td>-->
                        <td class="col-1 column-height" ng-hide="showme">{{planForward.output.semLB | formatCurrency}}</td>
                        <td class="col-1 column-height" ng-hide="showme">{{planForward.output.semMin | formatCurrency}}</td>
                        <td class="col-1 column-height" ng-hide="showme">{{planForward.output.semMax | formatCurrency}}</td>
                        <td class="col-1 column-height" ng-hide="showme">{{planForward.output.semUB | formatCurrency}}</td>
                        <td class="col-1 column-height" ng-hide="showme">{{planForward.output.semBSF }}</td>
                        <td class="col-1column-height">{{planForward.output.semSR | formatCurrency}}</td>
                        <td class="col-1 column-height">{{planForward.output.semPR | formatCurrency}}</td>
                        <!--<td>{{planForward.output.semMin | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.semMax | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.semBSF }}</td>-->
                        <td class="col-1 column-height">{{planForward.output.semSlide | formatCurrency}}</td>
                        <td class="col-1 column-height">{{planForward.output.semAR | formatCurrency}}</td>
                        <td class="col-1 column-height">{{planForward.output.semSD | formatCurrency}}</td>
                        <td class="col-1 column-height">{{planForward.output.semRD | formatCurrency}}</td>
                    </tr>
                    <tr ng-hide="hideSemItems">
                        <!--<td class="td-subtitle col-1">SEM - Brand</td>-->
                        <td class="col-1 column-height" ng-hide="showme">{{planForward.output.semBLB | formatCurrency}}</td>
                        <td class="col-1 column-height" ng-hide="showme">{{planForward.output.semBMin | formatCurrency}}</td>
                        <td class="col-1 column-height" ng-hide="showme">{{planForward.output.semBMax | formatCurrency}}</td>
                        <td class="col-1 column-height" ng-hide="showme">{{planForward.output.semBUB | formatCurrency}}</td>
                        <td class="col-1 column-height" ng-hide="showme">{{planForward.output.semBSF}}</td>
                        <td class="col-1 column-height">{{planForward.output.semBSR | formatCurrency}}</td>
                        <td class="disabled col-1 column-height">&nbsp;</td>
                        <!--<td>{{planForward.output.semBMin | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.semBMax | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.semBSF}}</td>-->
                        <td class="range-input col-1 column-height">
                            <div ng-if="planForward.output.semBMin == planForward.output.semBMax" class="disabled">
                                {{planForward.output.semBSlide| formatCurrency}}
                            </div>
                            <div ng-if="planForward.output.semBMin != planForward.output.semBMax">
                                <range-input ng-model="planForward.output.semBSlide" min="planForward.output.semBMin" max="planForward.output.semBMax"></range-input>
                            </div>
                        </td>
                        <td class="disabled col-1 column-height">&nbsp;</td>
                        <td>{{planForward.output.semBSD | formatCurrency}}</td>
                        <td class="disabled col-1 column-height">&nbsp;</td>
                    </tr>
                    <tr ng-hide="hideSemItems">
                        <!--<td class="td-subtitle col-1">SEM - Card</td>-->
                        <td class="col-1 column-height" ng-hide="showme">{{planForward.output.semCLB | formatCurrency}}</td>
                        <td class="col-1 column-height" ng-hide="showme">{{planForward.output.semCMin | formatCurrency}}</td>
                        <td class="col-1 column-height" ng-hide="showme">{{planForward.output.semCMax | formatCurrency}}</td>
                        <td class="col-1 column-height" ng-hide="showme">{{planForward.output.semCUB | formatCurrency}}</td>
                        <td class="col-1 column-height" ng-hide="showme">{{planForward.output.semCSF}}</td>
                        <td class="col-1 column-height">{{planForward.output.semCSR | formatCurrency}}</td>
                        <td class="disabled col-1 column-height">&nbsp;</td>
                        <!--<td>{{planForward.output.semCMin | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.semCMax | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.semCSF}}</td>-->
                        <td class="range-input col-1 column-height">
                            <div ng-if="planForward.output.semCMin == planForward.output.semCMax" class="disabled">
                                {{planForward.output.semCSlide| formatCurrency}}
                            </div>
                            <div ng-if="planForward.output.semCMin != planForward.output.semCMax">
                                <range-input ng-model="planForward.output.semCSlide" min="planForward.output.semCMin" max="planForward.output.semCMax"></range-input>
                            </div>
                        </td>
                        <td class="disabled col-1 column-height">&nbsp;</td>
                        <td>{{planForward.output.semCSD | formatCurrency}}</td>
                        <td class="disabled col-1 column-height">&nbsp;</td>
                    </tr>
                    <tr ng-hide="hideSemItems">
                        <!--<td class="td-subtitle col-1">SEM-Photobook</td>-->
                        <td class="col-1 column-height" ng-hide="showme">{{planForward.output.semPLB | formatCurrency}}</td>
                        <td class="col-1 column-height" ng-hide="showme">{{planForward.output.semPMin | formatCurrency}}</td>
                        <td class="col-1 column-height" ng-hide="showme">{{planForward.output.semPMax | formatCurrency}}</td>
                        <td class="col-1 column-height" ng-hide="showme">{{planForward.output.semPUB | formatCurrency}}</td>
                        <td class="col-1 column-height" ng-hide="showme">{{planForward.output.semPSF}}</td>
                        <td class="col-1 column-height">{{planForward.output.semPSR | formatCurrency}}</td>
                        <td class="disabled col-1 column-height">&nbsp;</td>
                        <!--<td>{{planForward.output.semPMin | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.semPMax | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.semPSF}}</td>-->
                        <td class="range-input col-1 column-height">
                            <div ng-if="planForward.output.semPMin == planForward.output.semPMax" class="disabled">
                                {{planForward.output.semPSlide| formatCurrency}}
                            </div>
                            <div ng-if="planForward.output.semPMin != planForward.output.semPMax">
                                <range-input ng-model="planForward.output.semPSlide" min="planForward.output.semPMin" max="planForward.output.semPMax"></range-input>
                            </div>
                        </td>
                        <td class="disabled col-1 column-height">&nbsp;</td>
                        <td>{{planForward.output.semPSD | formatCurrency}}</td>
                        <td class="disabled col-1 column-height">&nbsp;</td>
                    </tr>
                    <tr ng-hide="hideSemItems">
                        <!--<td class="td-subtitle col-1">SEM - Others</td>-->
                        <td class="col-1 column-height" ng-hide="showme">{{planForward.output.semOLB | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.semOMin | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.semOMax | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.semOUB | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.semOSF}}</td>
                        <td class="col-1 column-height">{{planForward.output.semOSR | formatCurrency}}</td>
                        <td class="disabled col-1">&nbsp;</td>
                        <!--<td>{{planForward.output.semOMin | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.semOMax | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.semOSF}}</td>-->
                        <td class="range-input col-1">
                            <div ng-if="planForward.output.semOMin == planForward.output.semOMax" class="disabled">
                                {{planForward.output.semOSlide| formatCurrency}}
                            </div>
                            <div ng-if="planForward.output.semOMin != planForward.output.semOMax">
                                <range-input ng-model="planForward.output.semOSlide" min="planForward.output.semOMin" max="planForward.output.semOMax"></range-input>
                            </div>
                        </td>
                        <td class="disabled col-1">&nbsp;</td>
                        <td>{{planForward.output.semOAS-planForward.output.semOSR | formatCurrency}}</td>
                        <td class="disabled col-1">&nbsp;</td>
                    </tr>
                    <tr>
                        <!--<td class="td-title col-1">Display</td>-->
                        <td class="col-1 column-height" ng-hide="showme">{{planForward.output.disLB | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.disMin | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.disMax | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.disUB | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.disSF}}</td>
                        <td class="col-1 column-height">{{planForward.output.disSR | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.disPR | formatCurrency}}</td>
                        <!--<td>{{planForward.output.disMin | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.disMax | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.disSF}}</td>-->
                        <td class="range-input col-1">
                            <div ng-if="planForward.output.disMin == planForward.output.disMax" class="disabled">
                                {{planForward.output.disSlide| formatCurrency}}
                            </div>
                            <div ng-if="planForward.output.disMin != planForward.output.disMax">
                                <range-input ng-model="planForward.output.disSlide" min="planForward.output.disMin" max="planForward.output.disMax"></range-input>
                            </div>
                        </td>
                        <td class="col-1">{{planForward.output.disAR | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.disSD | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.disRD | formatCurrency}}</td>
                    </tr>
                    <tr>
                        <!--<td class="td-title col-1">Social</td>-->
                        <td class="col-1 column-height" ng-hide="showme">{{planForward.output.socLB | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.socMin | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.socMax | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.socUB | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.socSF}}</td>
                        <td class="col-1 column-height">{{planForward.output.socSR | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.socPR | formatCurrency}}</td>
                        <!--<td>{{planForward.output.socMin | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.socMax | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.socSF}}</td>-->
                        <td class="range-input col-1">
                            <div ng-if="planForward.output.socMin == planForward.output.socMax" class="disabled">
                                {{planForward.output.socSlide| formatCurrency}}
                            </div>
                            <div ng-if="planForward.output.socMin != planForward.output.socMax">
                                <range-input ng-model="planForward.output.socSlide" min="planForward.output.socMin" max="planForward.output.socMax"></range-input>
                            </div>
                        </td>
                        <td class="col-1">{{planForward.output.socAR | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.socSD | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.socRD | formatCurrency}}</td>
                    </tr>
                    <tr>
                        <!--<td class="td-title col-1">Affiliates</td>-->
                        <td class="col-1 column-height" ng-hide="showme">{{planForward.output.affLB | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.affMin | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.affMax | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.affUB | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.affSF}}</td>
                        <td class="col-1 column-height">{{planForward.output.affSR | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.affPR | formatCurrency}}</td>
                        <!--<td>{{planForward.output.affMin | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.affMax | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.affSF}}</td>-->
                        <td class="range-input col-1">
                            <div ng-if="planForward.output.affMin == planForward.output.affMax" class="disabled">
                                {{planForward.output.affSlide| formatCurrency}}
                            </div>
                            <div ng-if="planForward.output.affMin != planForward.output.affMax">
                                <range-input ng-model="planForward.output.affSlide" min="planForward.output.affMin" max="planForward.output.affMax"></range-input>
                            </div>
                        </td>
                        <td class="col-1">{{planForward.output.affAR | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.affSD | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.affRD | formatCurrency}}</td>
                    </tr>
                    <tr>
                        <!--<td class="td-title col-1">Partners</td>-->
                        <td class="col-1 column-height" ng-hide="showme">{{planForward.output.parLB | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.parMin | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.parMax | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.parUB | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.parSF}}</td>
                        <td class="col-1 column-height">{{planForward.output.parSR | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.parPR | formatCurrency}}</td>
                        <!--<td>{{planForward.output.parMin | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.parMax | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.parSF }}</td>-->
                        <td class="range-input col-1">
                            <div ng-if="planForward.output.parMin == planForward.output.parMax" class="disabled">
                                {{planForward.output.parSlide| formatCurrency}}
                            </div>
                            <div ng-if="planForward.output.parMin != planForward.output.parMax">
                                <range-input ng-model="planForward.output.parSlide" min="planForward.output.parMin" max="planForward.output.parMax"></range-input>
                            </div>
                        </td>
                        <td class="col-1">{{planForward.output.parAR | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.parSD | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.parRD | formatCurrency}}</td>
                    </tr>
                    <tr>
                        <!--<td class="td-title col-1">Portfolio Total</td>-->
                        <td class="col-1 column-height" ng-hide="showme">{{planForward.output.totLB | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.totMin | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.totMax | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.totUB | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme"></td>
                        <td class="col-1 column-height">{{planForward.output.totSR | formatCurrency}}</td>
                        <td class="col-1 ">{{planForward.output.totPR | formatCurrency}}</td>
                        <!--<td>{{planForward.output.totMin | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.totMax | formatCurrency}}</td>-->
                        <!--<td></td>-->
                        <td class="col-1">{{planForward.output.totSlide | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.totAR | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.totSD | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.totRD | formatCurrency}}</td>
                    </tr>
                    <tr>
                        <!--<td class="td-title col-1">Portfolio ROI</td>-->
                        <td class="col-1 column-height" colspan="5" ng-hide="showme"></td>
                        <td class="col-1 column-height" colspan="2">{{planForward.output.run1ProjROI}}</td>
                        <td class="col-1 column-height" colspan="2">{{planForward.output.run2ProjROI}}</td>
                        <td class="col-1 column-height" colspan="2">{{planForward.output.ROID}}%</td>
                    </tr>
                    <!--<tr>-->
                        <!--<td class="col-1 column-height" colspan="all"></td>-->
                    <!--</tr>-->
                    <tr>
                        <!--<td class="td-title col-1">Change in Brand Total Revenue</td>-->
                        <td class="col-1 " colspan="9" ng-hide="showme"></td>
                        <td class="col-1 " colspan="4" ng-show="showme"></td>
                        <td class="col-1" colspan="2" style="height: 48px">{{planForward.output.PercentageChangeInTotalRev  | number:0}}%</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-4" ng-show="showme">
            <!--<h4 style="text-align:center">Spend Difference</h4>-->
            <!--<compare-chart compare-data="compareChart.data" config="compareChart.config"></compare-chart>-->

            <div id="container" style="min-width: 400px; max-width: 800px; height: 380px; margin: 0 auto"></div>

        </div>
    </div>
    <div class="row table-buttons"  ng-show="getJson">
        <div class="col-sm-10 col-sm-offset-2">
            <div class="col-sm-3">
                <div class="btn-group dropup" dropdown>
                    <button  class="btn btn-default" ng-click="edit()">Edit</button>
                    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="" ng-click="export()">Export</a></li>
                        <li><a href="" ng-click="share()">Share</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-default" ng-click="reRun()" ng-class="{disabled:slideError}">Re-run</button>
                <span ng-show="slideError" style="color:red; height:34px; width:304px; float: right">{{slideErrorValue}}</span>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-default" ng-click="reSet()">Reset</button>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-default" ng-click="toggle()" id="showgraphbtn">{{showGraph}}</button>
            </div>
        </div>
    </div>
</div>
