<div class="container-fluid">
    <div class="row">
        <ol class="breadcrumb path path-palnforward">
            <li><a href="#/">Home</a></li>
            <li>Plan Forward</li>
            <li><a href="#/planforward/init">Initial Input</a></li>
            <li><a href="#/planforward/constrict">Constraints Input</a></li>
            <li>Output</li>
        </ol>
    </div>
    <div style="height: 400px" ng-hide="getJson" >
        <div class="jumbotron">
        <h2>Tool is calculating the most optimal scenario for you.</h2>
        <h2>Result will appear shortly!</h2>
        <h3>(Average waiting time is 10min.)</h3>
        </div>
    </div>
    <div class="row" ng-show="getJson">
        <div class="well well-sm">
            <label>Scenario ID:&nbsp</label>{{scenario.scenarioId}}<br>
            <label>Brand</label>: {{scenario.brand}}
            <label>Attribution</label>: {{scenario.lmTouch}}
            <label>Begin Period</label>: {{scenario.beginDate | date: 'MMM-dd-yyyy'}}
            <label>End Period</label>: {{scenario.endDate | date: 'MMM-dd-yyyy'}}
            <label>Portfolio Spend </label>: {{scenario.spend | formatCurrency}}
            <label>Data through</label>: {{scenario.dataThrough | date: 'MMM-dd-yyyy'}}
            <span ng-show="slideError" style="color:red">{{slideErrorValue}}</span>
        </div>
    </div>
    <script>
        $('table.thead-fixed-top').on('scroll', function () {
            $('table.thead-fixed-top > *').width($('table.thead-fixed-top').width() + $('table.thead-fixed-top').scrollLeft());
//            var adjustXY = $('.table-first-column').position();
//            adjustXY.left =  $('table.thead-fixed-top > *').position().left;
//            adjustXY.top =  $('table.thead-fixed-top > *').position().top;
        });
        $(document).ready(function(){
            $('.first-cell').outerHeight($('.col-1').height());
            $('.second-cell').outerHeight($('.col-1').height()+4);
            $('.first-header').outerHeight($('.col-1').height()*2+1);
        });

    </script>
    <div class="row" ng-show="getJson">
        <div class="{{planforwardContentSize}}">

            <div class="table-responsive table-container">
                <!--<div class="table-first-column">-->
                    <!--<table class="table roi-table fixed-table">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th rowspan="2" class="col-1 first-header">Portfolio <br/> Channels</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                    <!--</table>-->
                    <!--<table class="table table-striped table-bordered table-condensed roi-table first-column">-->
                        <!--<tbody>-->
                        <!--<tr>-->
                            <!--<td class="td-title first-cell" ng-click="hideSemItems = !hideSemItems">SEM Total-->
                                <!--<button class="btn btn-xs btn-default"> <i ng-hide="hideSemItems" class="fa fa-minus"></i> <i-->
                                        <!--ng-show="hideSemItems" class="fa fa-plus"> </i></button>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td class="td-subtitle second-cell"><span>SEM - Brand</span></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td class="td-subtitle second-cell"><span>SEM - Card</span></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td class="td-subtitle second-cell"><span>SEM - Photobook</span></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td class="td-subtitle second-cell"><span>SEM - Others</span></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td class="td-title second-cell"><span>Display</span></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td class="td-title second-cell"><span>Social</span></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td class="td-title second-cell"><span>Affiliates</span></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td class="td-title second-cell"><span>Partners</span></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td class="td-title second-cell"><span>Portfolio Total</span></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td class="td-title second-cell"><span>Portfolio ROI</span></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td class="td-title second-cell"><span></span></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td class="td-title second-cell"><span>Change in Brand Total Revenue</span></td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
                <table class="table table-bordered table-hover roi-table table-striped thead-fixed-top">
                    <thead>
                    <tr>
                        <th rowspan="2" class="col-1 first-covered-column">Portfolio <br/> Channels
                        </th>
                        <th colspan="5" class="col-5" ng-hide="showme">Input</th>
                        <th colspan="2" class="col-2">Optimized</th>
                        <th colspan="2" class="col-2">What-if</th>
                        <th colspan="2" class="col-2">Different</th>
                    </tr>
                    <tr>
                        <th class="col-1" ng-hide="showme">Lower</th>
                        <th class="col-1" ng-hide="showme">Min</th>
                        <th class="col-1" ng-hide="showme">Max</th>
                        <th class="col-1" ng-hide="showme">Upper</th>
                        <th class="col-1" ng-hide="showme">Scaling</th>
                        <th class="col-1">Spend</th>
                        <th class="col-1">Rev</th>
                        <!--<th class="col-1">Min</th>-->
                        <!--<th class="col-1">Max</th>-->
                        <!--<th class="col-1">Scaling</th>-->
                        <th class="col-1">Spend</th>
                        <th class="col-1">Rev</th>
                        <th class="col-1">Spend</th>
                        <th class="col-1">Rev</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="td-title col-1" ng-click="hideSemItems = !hideSemItems">SEM Total
                            <button class="btn btn-xs btn-default"> <i ng-hide="hideSemItems" class="fa fa-minus"></i> <i
                                    ng-show="hideSemItems" class="fa fa-plus"> </i></button>
                        </td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.semLB | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.semMin | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.semMax | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.semUB | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.semBSF }}</td>
                        <td class="col-1">{{planForward.output.semSR | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.semPR | formatCurrency}}</td>
                        <!--<td>{{planForward.output.semMin | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.semMax | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.semBSF }}</td>-->
                        <td class="col-1">{{planForward.output.semSlide | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.semAR | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.semSD | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.semRD | formatCurrency}}</td>
                    </tr>
                    <tr ng-hide="hideSemItems">
                        <td class="td-subtitle col-1">SEM - Brand</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.semBLB | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.semBMin | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.semBMax | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.semBUB | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.semBSF}}</td>
                        <td class="col-1">{{planForward.output.semBSR | formatCurrency}}</td>
                        <td class="disabled col-1">-</td>
                        <!--<td>{{planForward.output.semBMin | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.semBMax | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.semBSF}}</td>-->
                        <td class="range-input col-1">
                            <range-input ng-model="planForward.output.semBSlide" min="planForward.output.semBMin"
                                         max="planForward.output.semBMax" ng-change="slideValidate()"></range-input>
                        </td>
                        <td class="disabled col-1">-</td>
                        <td>{{planForward.output.semBSD | formatCurrency}}</td>
                        <td class="disabled col-1">-</td>
                    </tr>
                    <tr ng-hide="hideSemItems">
                        <td class="td-subtitle col-1">SEM - Card</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.semCLB | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.semCMin | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.semCMax | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.semCUB | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.semCSF}}</td>
                        <td class="col-1">{{planForward.output.semCSR | formatCurrency}}</td>
                        <td class="disabled col-1">-</td>
                        <!--<td>{{planForward.output.semCMin | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.semCMax | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.semCSF}}</td>-->
                        <td class="range-input col-1">
                            <range-input ng-model="planForward.output.semCSlide" min="planForward.output.semCMin"
                                         max="planForward.output.semCMax" ng-change="slideValidate()"></range-input>
                        </td>
                        <td class="disabled col-1">-</td>
                        <td>{{planForward.output.semCSD | formatCurrency}}</td>
                        <td class="disabled col-1">-</td>
                    </tr>
                    <tr ng-hide="hideSemItems">
                        <td class="td-subtitle col-1">SEM-Photobook</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.semPLB | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.semPMin | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.semPMax | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.semPUB | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.semPSF}}</td>
                        <td class="col-1">{{planForward.output.semPSR | formatCurrency}}</td>
                        <td class="disabled col-1">-</td>
                        <!--<td>{{planForward.output.semPMin | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.semPMax | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.semPSF}}</td>-->
                        <td class="range-input col-1">
                            <range-input ng-model="planForward.output.semPSlide" min="planForward.output.semPMin"
                                         max="planForward.output.semPMax" ng-change="slideValidate()"></range-input>
                        </td>
                        <td class="disabled col-1">-</td>
                        <td>{{planForward.output.semPSD | formatCurrency}}</td>
                        <td class="disabled col-1">-</td>
                    </tr>
                    <tr ng-hide="hideSemItems">
                        <td class="td-subtitle col-1">SEM - Others</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.semOLB | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.semOMin | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.semOMax | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.semOUB | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.semOSF}}</td>
                        <td class="col-1">{{planForward.output.semOSR | formatCurrency}}</td>
                        <td class="disabled col-1">-</td>
                        <!--<td>{{planForward.output.semOMin | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.semOMax | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.semOSF}}</td>-->
                        <td class="range-input col-1">
                            <range-input ng-model="planForward.output.semOSlide" min="planForward.output.semOMin"
                                         max="planForward.output.semOMax" ng-change="slideValidate()"></range-input>
                        </td>
                        <td class="disabled col-1">-</td>
                        <td>{{planForward.output.semOAS-planForward.output.semOSR | formatCurrency}}</td>
                        <td class="disabled col-1">-</td>
                    </tr>
                    <tr>
                        <td class="td-title col-1">Display</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.disLB | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.disMin | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.disMax | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.disUB | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.disSF}}</td>
                        <td class="col-1">{{planForward.output.disSR | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.disPR | formatCurrency}}</td>
                        <!--<td>{{planForward.output.disMin | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.disMax | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.disSF}}</td>-->
                        <td class="range-input col-1">
                            <range-input ng-model="planForward.output.disSlide" min="planForward.output.disMin"
                                         max="planForward.output.disMax" ng-change="slideValidate()"></range-input>
                        </td>
                        <td class="col-1">{{planForward.output.disAR | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.disSD | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.disRD | formatCurrency}}</td>
                    </tr>
                    <tr>
                        <td class="td-title col-1">Social</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.socLB | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.socMin | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.socMax | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.socUB | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.socSF}}</td>
                        <td class="col-1">{{planForward.output.socSR | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.socPR | formatCurrency}}</td>
                        <!--<td>{{planForward.output.socMin | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.socMax | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.socSF}}</td>-->
                        <td class="range-input col-1">
                            <range-input ng-model="planForward.output.socSlide" min="planForward.output.disMin"
                                         max="planForward.output.disMax" ng-change="slideValidate()"></range-input>
                        </td>
                        <td class="col-1">{{planForward.output.socAR | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.socSD | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.socRD | formatCurrency}}</td>
                    </tr>
                    <tr>
                        <td class="td-title col-1">Affiliates</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.affLB | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.affMin | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.affMax | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.affUB | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.affSF}}</td>
                        <td class="col-1">{{planForward.output.affSR | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.affPR | formatCurrency}}</td>
                        <!--<td>{{planForward.output.affMin | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.affMax | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.affSF}}</td>-->
                        <td class="range-input col-1">
                            <range-input ng-model="planForward.output.affSlide" min="planForward.output.affMin"
                                         max="planForward.output.affMax" ng-change="slideValidate()" ></range-input>
                        </td>
                        <td class="col-1">{{planForward.output.affAR | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.affSD | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.affRD | formatCurrency}}</td>
                    </tr>
                    <tr>
                        <td class="td-title col-1">Partners</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.parLB | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.parMin | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.parMax | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.parUB | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.parSF}}</td>
                        <td class="col-1">{{planForward.output.parSR | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.parPR | formatCurrency}}</td>
                        <!--<td>{{planForward.output.parMin | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.parMax | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.parSF }}</td>-->
                        <td class="range-input col-1">
                            <range-input ng-model="planForward.output.parSlide" min="planForward.output.parMin"
                                         max="planForward.output.parMax" ng-change="slideValidate()"></range-input>
                        </td>
                        <td class="col-1">{{planForward.output.parAR | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.parSD | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.parRD | formatCurrency}}</td>
                    </tr>
                    <tr>
                        <td class="td-title col-1">Portfolio Total</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.totLB | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.totMin | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.totMax | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme">{{planForward.output.totUB | formatCurrency}}</td>
                        <td class="col-1" ng-hide="showme"></td>
                        <td class="col-1">{{planForward.output.totSR | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.totPR | formatCurrency}}</td>
                        <!--<td>{{planForward.output.totMin | formatCurrency}}</td>-->
                        <!--<td>{{planForward.output.totMax | formatCurrency}}</td>-->
                        <!--<td></td>-->
                        <td class="col-1">{{planForward.output.totSlide | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.totAR | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.totSD | formatCurrency}}</td>
                        <td class="col-1">{{planForward.output.totRD | formatCurrency}}</td>
                    </tr>
                    <tr>
                        <td class="td-title col-1">Portfolio ROI</td>
                        <td class="col-1" colspan="5" ng-hide="showme"></td>
                        <td class="col-1" colspan="2">{{planForward.output.run1ProjROI}}</td>
                        <td class="col-1" colspan="2">{{planForward.output.run2ProjROI}}</td>
                        <td class="col-1" colspan="2">{{planForward.output.ROID}}%</td>
                    </tr>
                    <tr>
                        <td class="col-1" colspan="all"></td>
                    </tr>
                    <tr>
                        <td class="td-title col-1">Change in Brand Total Revenue</td>
                        <td class="col-1" colspan="9" ng-hide="showme"></td>
                        <td class="col-1" colspan="4" ng-show="showme"></td>
                        <td class="col-1" colspan="2">{{planForward.output.changeR  | number:0}}%</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-sm-4" ng-show="showme">
            <h4 style="text-align:center">Spend Difference</h4>
            <compare-chart compare-data="compareChart.data" config="compareChart.config"></compare-chart>
        </div>
    </div>
    <div class="row table-buttons"  ng-show="getJson">
        <div class="col-sm-10 col-sm-offset-2">
            <div class="col-sm-3">
                <div class="btn-group dropup" dropdown>
                    <button  class="btn btn-default" ng-click="edit()">Edit</button>
                    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="" ng-click="export()">Export</a></li>
                        <li><a href="" ng-click="share()">Share</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-default" ng-click="reRun()" ng-class="{disabled:slideError}">Re-run</button>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-default" ng-click="reSet()">Reset</button>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-default" ng-click="toggle()">{{showGraph}}</button>
            </div>
        </div>
    </div>
</div>
