<div class="container-fluid">
    <div class="row">
        <ol class="breadcrumb path path-palnforward">
            <li><a href="#/">Home</a></li>
            <li>Plan Forward</li>
            <li><a href="#/planforward/init">Initial Input</a></li>
            <li><a href="#/planforward/constrict">Constraints Input</a></li>
            <li>Output</li>
        </ol>
    </div>
    <div style="height: 400px" ng-hide="getJson">
        <h1>WAITING PATIENTLY!!<br> THIS IS NOT AN ERROR!</h1>
    </div>
    <div class="row" ng-show="getJson">
        <div class="well well-sm"><label>Scenario ID:</label>{{planForward.output.ScenarioID}}<br>
            <label>Brand</label>: {{planForward.output.Brand}}
            <label>Attribution</label>: {{planForward.output.lmTouch}}
            <label>Begin Period</label>: {{planForward.output.StartingTime | date: 'MMM-dd-yyyy'}}
            <label>End Period</label>: {{planForward.output.EndingTime | date: 'MMM-dd-yyyy'}}
            <label>Portfolio Spend </label>: {{planForward.output.Spend | formatCurrency}}
        </div>
    </div>
    <div class="row" ng-show="getJson">
        <div class="{{planforwardContentSize}}">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-condensed roi-table">
                    <thead>
                    <tr>
                        <th rowspan="2" class="col-1">Portfolio Channels</th>
                        <th colspan="5" class="col-5">Input</th>
                        <th colspan="2" class="col-2">Optimized</th>
                        <th colspan="5" class="col-5">What-if</th>
                        <th colspan="2" class="col-2">Different</th>
                    </tr>
                    <tr>
                        <th class="col-1">Lower</th>
                        <th class="col-1">Min</th>
                        <th class="col-1">Max</th>
                        <th class="col-1">Upper</th>
                        <th class="col-1">Scaling</th>
                        <th class="col-1">Spend</th>
                        <th class="col-1">Rev</th>
                        <th class="col-1">Min</th>
                        <th class="col-1">Max</th>
                        <th class="col-1">Scaling</th>
                        <th class="col-1">Spend</th>
                        <th class="col-1">Rev</th>
                        <th class="col-1">Spend</th>
                        <th class="col-1">Rev</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="td-title" ng-click="hideSemItems = !hideSemItems">SEM Total
                            <button class="btn btn-xs btn-default"><i ng-hide="hideSemItems" class="fa fa-minus"></i><i
                                    ng-show="hideSemItems" class="fa fa-plus"></i></button>
                        </td>
                        <td>{{planForward.output.semLB | formatCurrency}}</td>
                        <td>{{planForward.output.semMin | formatCurrency}}</td>
                        <td>{{planForward.output.semMax | formatCurrency}}</td>
                        <td>{{planForward.output.semUB | formatCurrency}}</td>
                        <td>{{planForward.output.semBSF }}</td>
                        <td>{{planForward.output.semSR | formatCurrency}}</td>
                        <td>{{planForward.output.semPR | formatCurrency}}</td>
                        <td>{{planForward.output.semMin | formatCurrency}}</td>
                        <td>{{planForward.output.semMax | formatCurrency}}</td>
                        <td>{{planForward.output.semBSF }}</td>
                        <td>{{planForward.output.semAS}}</td>
                        <td>{{planForward.output.semAR | formatCurrency}}</td>
                        <td>{{planForward.output.semAS-planForward.output.semSR | formatCurrency}}</td>
                        <td>{{planForward.output.semAR-planForward.output.semPR | formatCurrency}}</td>
                    </tr>
                    <tr ng-hide="hideSemItems">
                        <td class="td-subtitle">SEM - Brand</td>
                        <td>{{planForward.output.semBLB | formatCurrency}}</td>
                        <td>{{planForward.output.semBMin | formatCurrency}}</td>
                        <td>{{planForward.output.semBMax | formatCurrency}}</td>
                        <td>{{planForward.output.semBUB | formatCurrency}}</td>
                        <td>{{planForward.output.semBSF}}</td>
                        <td>{{planForward.output.semBSR | formatCurrency}}</td>
                        <td class="disabled">-</td>
                        <td>{{planForward.output.semBMin | formatCurrency}}</td>
                        <td>{{planForward.output.semBMax | formatCurrency}}</td>
                        <td>{{planForward.output.semBSF}}</td>
                        <td class="range-input">
                            <range-input ng-model="planForward.output.semBAS" min="planForward.output.semBMin"
                                         max="planForward.output.semBMax" ng-change="fix()"></range-input>
                        </td>
                        <td class="disabled">-</td>
                        <td>{{planForward.output.semBAS-planForward.output.semBSR | formatCurrency}}</td>
                        <td>{{planForward.output.semBAR-planForward.output.semBPR | formatCurrency}}</td>
                    </tr>
                    <tr ng-hide="hideSemItems">
                        <td class="td-subtitle">SEM - Card</td>
                        <td>{{planForward.output.semCLB | formatCurrency}}</td>
                        <td>{{planForward.output.semCMin | formatCurrency}}</td>
                        <td>{{planForward.output.semCMax | formatCurrency}}</td>
                        <td>{{planForward.output.semCUB | formatCurrency}}</td>
                        <td>{{planForward.output.semCSF}}</td>
                        <td>{{planForward.output.semCSR | formatCurrency}}</td>
                        <td class="disabled">-</td>
                        <td>{{planForward.output.semCMin | formatCurrency}}</td>
                        <td>{{planForward.output.semCMax | formatCurrency}}</td>
                        <td>{{planForward.output.semCSF}}</td>
                        <td class="range-input">
                            <range-input ng-model="planForward.output.semCAS" min="planForward.output.semCMin"
                                         max="planForward.output.semCMax" ng-change="fix()"></range-input>
                        </td>
                        <td class="disabled">-</td>
                        <td>{{planForward.output.semCAS - planForward.output.semCSR | formatCurrency}}</td>
                        <td>{{planForward.output.semCAR - planForward.output.semCPR | formatCurrency}}</td>
                    </tr>
                    <tr ng-hide="hideSemItems">
                        <td class="td-subtitle">SEM - Photobook</td>
                        <td>{{planForward.output.semPLB | formatCurrency}}</td>
                        <td>{{planForward.output.semPMin | formatCurrency}}</td>
                        <td>{{planForward.output.semPMax | formatCurrency}}</td>
                        <td>{{planForward.output.semPUB | formatCurrency}}</td>
                        <td>{{planForward.output.semPSF}}</td>
                        <td>{{planForward.output.semPSR | formatCurrency}}</td>
                        <td class="disabled">-</td>
                        <td>{{planForward.output.semPMin | formatCurrency}}</td>
                        <td>{{planForward.output.semPMax | formatCurrency}}</td>
                        <td>{{planForward.output.semPSF}}</td>
                        <td class="range-input">
                            <range-input ng-model="planForward.output.semPAS" min="planForward.output.semPMin"
                                         max="planForward.output.semPMax" ng-change="fix()"></range-input>
                        </td>
                        <td class="disabled">-</td>
                        <td>{{planForward.output.semPAS- planForward.output.semPSR | formatCurrency}}</td>
                        <td>{{planForward.output.semPAR- planForward.output.semPPR | formatCurrency}}</td>
                    </tr>
                    <tr ng-hide="hideSemItems">
                        <td class="td-subtitle">SEM - Others</td>
                        <td>{{planForward.output.semOLB | formatCurrency}}</td>
                        <td>{{planForward.output.semOMin | formatCurrency}}</td>
                        <td>{{planForward.output.semOMax | formatCurrency}}</td>
                        <td>{{planForward.output.semOUB | formatCurrency}}</td>
                        <td>{{planForward.output.semOSF}}</td>
                        <td>{{planForward.output.semOSR | formatCurrency}}</td>
                        <td class="disabled">-</td>
                        <td>{{planForward.output.semOMin | formatCurrency}}</td>
                        <td>{{planForward.output.semOMax | formatCurrency}}</td>
                        <td>{{planForward.output.semOSF}}</td>
                        <td class="range-input">
                            <range-input ng-model="planForward.output.semOAS" min="planForward.output.semOMin"
                                         max="planForward.output.semOMax" ng-change="fix()"></range-input>
                        </td>
                        <td class="disabled">-</td>
                        <td>{{planForward.output.semOAS-planForward.output.semOSR | formatCurrency}}</td>
                        <td>{{planForward.output.semOAR-planForward.output.semOPR | formatCurrency}}</td>
                    </tr>
                    <tr>
                        <td class="td-title">Display</td>
                        <td>{{planForward.output.disLB | formatCurrency}}</td>
                        <td>{{planForward.output.disMin | formatCurrency}}</td>
                        <td>{{planForward.output.disMax | formatCurrency}}</td>
                        <td>{{planForward.output.disUB | formatCurrency}}</td>
                        <td>{{planForward.output.disSF}}</td>
                        <td>{{planForward.output.disSR | formatCurrency}}</td>
                        <td>{{planForward.output.disPR | formatCurrency}}</td>
                        <td>{{planForward.output.disMin | formatCurrency}}</td>
                        <td>{{planForward.output.disMax | formatCurrency}}</td>
                        <td>{{planForward.output.disSF}}</td>
                        <td class="range-input">
                            <range-input ng-model="planForward.output.disAS" min="planForward.output.disMin"
                                         max="planForward.output.disMax" ng-change="fix()"></range-input>
                        </td>
                        <td>{{planForward.output.disAR | formatCurrency}}</td>
                        <td>{{planForward.output.disAS-planForward.output.disSR | formatCurrency}}</td>
                        <td>{{planForward.output.disAR-planForward.output.disPR | formatCurrency}}</td>
                    </tr>
                    <tr>
                        <td class="td-title">Social(FB)</td>
                        <td>{{planForward.output.socLB | formatCurrency}}</td>
                        <td>{{planForward.output.socMin | formatCurrency}}</td>
                        <td>{{planForward.output.socMax | formatCurrency}}</td>
                        <td>{{planForward.output.socUB | formatCurrency}}</td>
                        <td>{{planForward.output.socSF}}</td>
                        <td>{{planForward.output.socSR | formatCurrency}}</td>
                        <td>{{planForward.output.socPR | formatCurrency}}</td>
                        <td>{{planForward.output.socMin | formatCurrency}}</td>
                        <td>{{planForward.output.socMax | formatCurrency}}</td>
                        <td>{{planForward.output.socSF}}</td>
                        <td class="range-input">
                            <range-input ng-model="planForward.output.socAS" min="planForward.output.disMin"
                                         max="planForward.output.disMax" ng-change="fix()"></range-input>
                        </td>
                        <td>{{planForward.output.socAR | formatCurrency}}</td>
                        <td>{{planForward.output.socAS-planForward.output.socSR | formatCurrency}}</td>
                        <td>{{planForward.output.socAR-planForward.output.socPR | formatCurrency}}</td>
                    </tr>
                    <tr>
                        <td class="td-title">Affiliates</td>
                        <td>{{planForward.output.affLB | formatCurrency}}</td>
                        <td>{{planForward.output.affMin | formatCurrency}}</td>
                        <td>{{planForward.output.affMax | formatCurrency}}</td>
                        <td>{{planForward.output.affUB | formatCurrency}}</td>
                        <td>{{planForward.output.affSF}}</td>
                        <td>{{planForward.output.affSR | formatCurrency}}</td>
                        <td>{{planForward.output.affPR | formatCurrency}}</td>
                        <td>{{planForward.output.affMin | formatCurrency}}</td>
                        <td>{{planForward.output.affMax | formatCurrency}}</td>
                        <td>{{planForward.output.affSF}}</td>
                        <td class="range-input">
                            <range-input ng-model="planForward.output.affAS" min="planForward.output.affMin"
                                         max="planForward.output.affMax" ng-change="fix()" planforward="planforward"></range-input>
                        </td>
                        <td>{{planForward.output.affAR | formatCurrency}}</td>
                        <td>{{planForward.output.affAS-planForward.output.affSR | formatCurrency}}</td>
                        <td>{{planForward.output.affAR-planForward.output.affPR | formatCurrency}}</td>
                    </tr>
                    <tr>
                        <td class="td-title">Partners</td>
                        <td>{{planForward.output.parLB | formatCurrency}}</td>
                        <td>{{planForward.output.parMin | formatCurrency}}</td>
                        <td>{{planForward.output.parMax | formatCurrency}}</td>
                        <td>{{planForward.output.parUB | formatCurrency}}</td>
                        <td>{{planForward.output.parSF}}</td>
                        <td>{{planForward.output.parSR | formatCurrency}}</td>
                        <td>{{planForward.output.parPR | formatCurrency}}</td>
                        <td>{{planForward.output.parMin | formatCurrency}}</td>
                        <td>{{planForward.output.parMax | formatCurrency}}</td>
                        <td>{{planForward.output.parSF}}</td>
                        <td class="range-input">
                            <range-input ng-model="planForward.output.parAS" min="planForward.output.parMin"
                                         max="planForward.output.parMax" fix="fix()"></range-input>
                        </td>
                        <td>{{planForward.output.parAR | formatCurrency}}</td>
                        <td>{{planForward.output.parAS-planForward.output.parSR | formatCurrency}}</td>
                        <td>{{planForward.output.parAR-planForward.output.parPR | formatCurrency}}</td>
                    </tr>
                    <tr>
                        <td class="td-title">Portfolio Total</td>
                        <td>{{planForward.output.totLB | formatCurrency}}</td>
                        <td>{{planForward.output.totMin | formatCurrency}}</td>
                        <td>{{planForward.output.totMax | formatCurrency}}</td>
                        <td>{{planForward.output.totUB | formatCurrency}}</td>
                        <td></td>
                        <td>{{planForward.output.totSR | formatCurrency}}</td>
                        <td>{{planForward.output.totPR | formatCurrency}}</td>
                        <td>{{planForward.output.totMin | formatCurrency}}</td>
                        <td>{{planForward.output.totMax | formatCurrency}}</td>
                        <td></td>
                        <td>{{planForward.output.totAS | formatCurrency}}</td>
                        <td>{{planForward.output.totAR | formatCurrency}}</td>
                        <td>{{planForward.output.totAS-planForward.output.totSR | formatCurrency}}</td>
                        <td>{{planForward.output.totAR-planForward.output.totPR | formatCurrency}}</td>
                    </tr>
                    <tr>
                        <td class="td-title">Portfolio ROI</td>
                        <td colspan="5"></td>
                        <td colspan="2">{{planForward.output.run1ProjROI}}</td>
                        <td colspan="5">{{planForward.output.run2ProjROI}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="all"></td>
                    </tr>
                    <tr>
                        <td colspan="13">Change in Brand Total Revenue</td>
                        <td>{{planForward.output.totAS/planForward.output.totSR-1}}</td>
                        <td>{{planForward.output.totAR/planForward.output.totPR-1}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-sm-4" ng-show="showme">
            <br/>
            <h4 style="text-align:center">Spend Difference between optimized and what-if</h4>
            <compare-chart compare-data="compareChart.data" config="compareChart.config"></compare-chart>
            <h4 style="text-align:center">(-)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(+)</h4>
        </div>
    </div>
    <div class="row table-buttons">
        <div class="col-sm-10 col-sm-offset-2">
            <div class="col-sm-3">
                <div class="btn-group" dropdown>
                    <a href="#/planforward/edit" class="btn btn-default" ng-click="save()">Edit</a>
                    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/myscenarios/export" ng-click="">Export</a></li>
                        <li><a href="#/myscenarios/share" ng-click="">Share</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-default" ng-click="ReRun()">Re-run</button>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-default" ng-click="reSet()">Reset</button>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-default" ng-click="toggle()">{{showGraph}}</button>
            </div>
        </div>
    </div>
</div>
